<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" th:fragment="leftmenuFragment">
	
		<div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>ks43team01</span></a>
            </div>
            <div class="clearfix"></div>
	
	    <!-- menu profile quick info -->
           <div class="profile clearfix">
             <div class="profile_pic">
               <img src="images/img.jpg" alt="..." class="img-circle profile_img">
             </div>
             <div class="profile_info">
               <span>Welcome,</span>
               <h2>[[${session.UID}]]님</h2>
             </div>
           </div>
        <!-- /menu profile quick info -->

        <br />
	
		<div class="menu_section">
			<h3>분류1</h3>
			<ul class="nav side-menu">
			
				<!-- 회원관리 -->
			
				<li><a><i class="fa fa-home"></i>!회원관리(장한진) <span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a th:href="@{/adminpage/user/userList}">회원총가입리스트</a></li>
						<li><a th:href="@{/adminpage/user/userLogDate}">회원로그인이력테이블</a></li>
						<li><a th:href="@{/adminpage/user/userAgreeDetails}">!동의약관생성테이블</a></li>
						<li><a th:href="@{/adminpage/user/userAgreeCheck}">!동의내역테이블</a></li>
						<li><a th:href="@{/adminpage/user/sellerDetails}">!판매자사항테이블</a></li>
					</ul>
				</li>
				
				<!-- 상품 -->
				
				<li><a><i class="fa fa-table"></i> !상품(장상혁) <span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a th:href="@{/adminpage/goods/adminGoodsList}">!상품 리스트</a></li>
						<li><a th:href="@{/adminpage/goods/addGoodsTopCategory}">!상품 상위 카테고리 등록</a></li>
						<li><a th:href="@{/adminpage/goods/addGoodsSubCategory}">!상품 하위 카테고리 등록</a></li>
						<li><a th:href="@{/adminpage/goods/goodsTopCategoryList}">!상품 상위 카테고리 리스트</a></li>
						<li><a th:href="@{/adminpage/goods/goodsSubCategoryList}">!상품 하위 카테고리 리스트</a></li>
					</ul>
				</li>
                
				<!-- 환불및취소관리 -->
			
				<li><a><i class="fa fa-table"></i>!환불및취소관리(장한진)<span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a th:href="@{/adminpage/order/orderCancel}">!환불신청내역</a></li>
						<li><a th:href="@{/adminpage/order/orderRefund}">!취소내역</a></li>
					</ul>
				</li>
				<!--판매자포트폴리오관리-->
			
				<li><a><i class="fa fa-table"></i>#판매자포트폴리오관리(장한진)<span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a th:href="@{/adminpage/order/orderCancel}">#포트폴리오 동의내역</a></li>
						<li><a th:href="@{/adminpage/order/orderRefund}">#회원별 포트폴리오내역</a></li>
					</ul>
				</li>
				<!-- 주문 내역 관리 -->
                  <li><a><i class="fa fa-table"></i> #주문 내역 관리(이원진) <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">       
                      <li><a th:href="@{/adminpage/orderAdmin/orderCurrentStatusList}">#현재 상품 주문 현황 리스트</a></li>        
                      <li><a th:href="@{/adminpage/orderAdmin/orderStatusStandardList}">#상품 주문 현황 기준 리스트</a></li>          
                      <li><a th:href="@{/adminpage/orderAdmin/addOrderStatusStandard}">#주문현황 기준 등록</a></li>          
                      <li><a th:href="@{/adminpage/orderAdmin/orderStatusList}">#현재상태 갱신 리스트</a></li>          
                      <li><a href="#">#현재상태 갱신 등록</a></li>
                    </ul>
                  </li>
                 
                 <!-- 결제 -->

				<li><a><i class="fa fa-table"></i> !결제(장상혁) <span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a th:href="@{/adminpage/payment/paymentList}">#결제내역 리스트</a></li>
					</ul>
				</li>
                
				<!-- 포인트 -->
				
			 	<li><a><i class="fa fa-table"></i> !포인트(경량훈) <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a th:href="@{/adminpage/pointDetails/pointList}">!포인트 내역 관리</a></li>
                      <li><a th:href="@{/adminpage/pointDetails/pointGradeList}">!포인트 기준</a></li>
                      <li><a th:href="@{/adminpage/pointDetails/addPointGradeList}">!포인트 기준 등록</a></li>
                    </ul>
                  </li>
				
				<!-- 매출/지출 -->
				
				 <li><a><i class="fa fa-table"></i> !매출/지출(장상혁) <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a th:href="@{/adminpage/profitAndLoss/addSales}">매출 등록</a></li>
                      <li><a th:href="@{/adminpage/profitAndLoss/addSpending}">지출 등록</a></li>
                      <li><a th:href="@{/adminpage/profitAndLoss/salesList}">!매출 내역 리스트</a></li>
                      <li><a th:href="@{/adminpage/profitAndLoss/spendingList}">!지출 내역 리스트</a></li>
                    </ul>
                  </li>
                  
				 <li><a><i class="fa fa-table"></i> !손익관리 계정과목(장상혁) <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a th:href="@{/adminpage/profitAndLoss/addAccount}">계정과목 등록</a></li>
                      <li><a th:href="@{/adminpage/profitAndLoss/accountList}">!계정과목 리스트</a></li>
                    </ul>
                  </li>

				  <!-- 리뷰관리 -->
                  
                  <li><a><i class="fa fa-table"></i> !리뷰관리(경량훈) <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a th:href="@{/adminpage/reviewAdmin/reviewAdminList}">!리뷰 목록 관리</a></li>
                    </ul>
                  </li>
                  
                  <!-- 게시판 카테고리 관리 -->
                  <li><a><i class="fa fa-table"></i> !게시판 카테고리 관리(이원진) <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a th:href="@{/adminpage/boardAdmin/boardCategoryList}">!게시판 대분류 카테고리 리스트</a></li>
                      <li><a th:href="@{/adminpage/boardAdmin/addBoardCategory}">!게시판 대분류 카테고리 등록</a></li>
                      <li><a th:href="@{/adminpage/boardAdmin/boardLargeCategoryList}">!문의 1차 카테고리 리스트</a></li>          
                      <li><a th:href="@{/adminpage/boardAdmin/addBoardLargeCategory}">!문의 1차 카테고리 등록</a></li>          
                      <li><a th:href="@{/adminpage/boardAdmin/boardMediumCategoryList}">!문의 2차 카테고리 리스트</a></li>                         
                      <li><a th:href="@{/adminpage/boardAdmin/addBoardMediumCategory}">#문의 2차 카테고리 등록</a></li>                         
                    </ul>
                  </li>
                  
                  <!-- 게시글 관리 -->
                  <li><a><i class="fa fa-table"></i> !게시글 관리(이원진) <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">       
                      <li><a th:href="@{/adminpage/boardAdmin/boardList}">!전체 게시글 리스트</a></li>        
                      <li><a th:href="@{/adminpage/boardAdmin/boardPostFileList}">!게시글 첨부파일 리스트</a></li>          
                      <li><a th:href="@{/adminpage/boardAdmin/boardCommentList}">!게시글 댓글 리스트</a></li>          
                      <li><a th:href="@{/adminpage/boardAdmin/boardAnswerList}">!게시글 답변 모음 리스트</a></li>          
                      <li><a th:href="@{/adminpage/boardAdmin/addBoardAnswer}">!게시글 답변 모음 등록</a></li>          
                    </ul>
                  </li>

			</ul>
		</div>
		
		<div class="menu_section">
			<h3>분류2</h3>
			<ul class="nav side-menu">
			
			
			</ul>
		</div>
	
		    <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>
			
	</div>
</html>