<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="userpage/fragments/head :: headFragment"></head>	  
<body>
	<!-- Preloader Start -->
	<header>
		<div th:replace="userpage/fragments/header :: headerFragment"></div>	  
	</header>
		
		
	<div layout:fragment="content"></div><!-- 각자컨텐츠 넣을곳 -->
	
	<footer th:replace="userpage/fragments/footer :: footerFragment"></footer>

	<!-- template 공통 -->

	<th:block layout:fragment="customScript">
	</th:block>
</body>
	
</html>
