<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="adminpage/fragments/head :: headFragment"></head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			
			<!-- left menu -->
			<div th:replace="adminpage/fragments/leftmenu :: leftmenuFragment"></div>	
			<!-- /left menu -->
					
			<!-- top navigation -->
			<div th:replace="adminpage/fragments/header :: headerFragment"></div>
			<!-- /top navigation -->
			
			<!-- page content -->
				<th:block layout:fragment="customContents">
				</th:block>
			</div>
			<!-- /page content -->
			
			<!-- footer content -->
			<footer th:replace="adminpage/fragments/footer :: footerFragment"></footer>
        	<!-- /footer content -->
		</div>
	<!-- jQuery -->
    <script th:src="@{/admin/vendors/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap -->
    <script th:src="@{/admin/vendors/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <!-- FastClick -->
    <script th:src="@{/admin/vendors/fastclick/lib/fastclick.js}"></script>
    <!-- NProgress -->
    <script th:src="@{/admin/vendors/nprogress/nprogress.js}"></script>
    <!-- Chart.js -->
    <script th:src="@{/admin/vendors/Chart.js/dist/Chart.min.js}"></script>
    <!-- gauge.js -->
    <script th:src="@{/admin/vendors/gauge.js/dist/gauge.min.js}"></script>
    <!-- bootstrap-progressbar -->
    <script th:src="@{/admin/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>
    <!-- iCheck -->
    <script th:src="@{/admin/vendors/iCheck/icheck.min.js}"></script>
    <!-- Skycons -->
    <script th:src="@{/admin/vendors/skycons/skycons.js}"></script>
    <!-- Flot -->
    <script th:src="@{/admin/vendors/Flot/jquery.flot.js}"></script>
    <script th:src="@{/admin/vendors/Flot/jquery.flot.pie.js}"></script>
    <script th:src="@{/admin/vendors/Flot/jquery.flot.time.js}"></script>
    <script th:src="@{/admin/vendors/Flot/jquery.flot.stack.js}"></script>
    <script th:src="@{/admin/vendors/Flot/jquery.flot.resize.js}"></script>
    <!-- Flot plugins -->
    <script th:src="@{/admin/vendors/flot.orderbars/js/jquery.flot.orderBars.js}"></script>
    <script th:src="@{/admin/vendors/flot-spline/js/jquery.flot.spline.min.js}"></script>
    <script th:src="@{/admin/vendors/flot.curvedlines/curvedLines.js}"></script>
    <!-- DateJS -->
    <script th:src="@{/admin/vendors/DateJS/build/date.js}"></script>
    <!-- JQVMap -->
    <script th:src="@{/admin/vendors/jqvmap/dist/jquery.vmap.js}"></script>
    <script th:src="@{/admin/vendors/jqvmap/dist/maps/jquery.vmap.world.js}"></script>
    <script th:src="@{/admin/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js}"></script>
    <!-- bootstrap-daterangepicker -->
    <script th:src="@{/admin/vendors/moment/min/moment.min.js}"></script>
    <script th:src="@{/admin/vendors/bootstrap-daterangepicker/daterangepicker.js}"></script>
    <!-- Custom Theme Scripts -->
    <script th:src="@{/admin/build/js/custom.min.js}"></script>
	<th:block layout:fragment="customJsResource">
	</th:block>
</body>
</html>