<!DOCTYPE html>
<html class="no-js" lang="zxx" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{userpage/layout/userdefault}">	
	<div th:fragment="searchQnaBoardFragment">
		<form th:action="@{/userpage/board/qnaBoardList}" id="searchForm"  class="form-inline row col-12" method="post">
			<div class="form-group row col-6 justify-content-center">
				<div>
					<select name="searchKey">
						<option value="boardQuestionTitle">제목별</option>
						<option value="userIdCode">아이디명</option>
						<option value="userName">작성자명</option>
						<option value="boardQuestionContent">내용</option>
					</select>
				</div>
				<input type="text" class="form-control col-sm-5 mx-2 " id="searchValue" name="searchValue"/>
				<button type="submit" id="next" class="botWrapBtn">검색</button>
			</div>
		</form>
	</div>
</html>