<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{adminpage/layout/default}">
	  
	<!-- 사용자정의 contents -->
	<th:block layout:fragment="customContents">
	<div class="right_col" role="main">
		<div class="">
			<div class="page-title">
				<div class="title_left">
					<h3>로그인데이터테이블</h3>
				</div>
              	<div class="title_right">
	                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
	                  <div class="input-group">
	                    <input type="text" class="form-control" placeholder="Search for...">
	                    <span class="input-group-btn">
	                      <button class="btn btn-secondary" type="button">Go!</button>
	                    </span>
	                  </div>
	                </div>
              	</div>
            </div>
               <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>로그인데이터테이블</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          </div>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                 <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12"> white-space:nowrap
                          <div class="card-box table-responsive" style="overflow:auto">
                    <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action" style="width:100%; white-space: nowrap;">
                      <thead>
                        <tr>
                          <th></th>
                          <th>로그인번호</th>
                          <th>로그인시간</th>
                          <th>로그인아이피</th>
                          <th>회원아이디</th>
                          <th>구매자경험치</th>
                          <th>판매자경험치</th>
                          <th>삭제</th>
                        </tr>
                      </thead>
                       <tbody>
                     <tr th:if="${not #lists.isEmpty(userLogDate)}" th:each="l:${userLogDate}">
                     <td>
                        <input type="checkbox" id="check-all" >
                     </td>
                     	<td th:text="${l.loginNum}"></td>
                        <td th:text="${l.loginDate}"></td>
		                <td th:text="${l.loginIp}"></td>
		                <td th:text="${l.userIdCode}"></td>
              			<td th:text="${l.buyerExp}"></td>
              			<td th:text="${l.sellerExp}"></td>
              			<td></td>
                        <!-- <td><button type="button" th:href="@{/pointList(pointDetailsCode=${l.pointDetailsCode})}" class="btn btn-danger" style="font-size: 10px">수정</button></td>
                        <td><button type="button" th:href="@{/pointList(pointDetailsCode=${l.pointDetailsCode})}" class="btn btn-danger" style="font-size: 10px">삭제</button></td> -->
                     </tr>
                  </tbody>
                    </table>
                  </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
                </div>
              </div>
            </div>
          </div>
	</th:block>
</html>