<!DOCTYPE html>
<html class="no-js" lang="zxx" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	 
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<head th:replace="/userpage/fragments/head.html :: headFragment">
</head>
<header th:replace="/userpage/fragments/header.html :: headerFragment"></header>
<body>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<style>

.ReviewRow{
	width: 1200px;
	margin:0 auto;	
}

.addReviewForm {
	width: 1200px;
	margin:0 auto;	
	margin-bottom: 100px;
	margin-top:100px;
}



.single-element-widget{
	margin-bottom: 30px;
}

.clickBtn{
	width: 1200px;
	text-align:center;
}

</style>

 <div class="slider-area">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="ReviewRow">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>Board</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!-- About Details Start -->

<div class="addReviewForm">
	
			
	<div class="ReviewRow">
				<form class="form-contact contact_form" th:action="@{userpage/reviewUser/addReview}" method="post" id="contactForm" novalidate="novalidate">
					<div class="ReviewRow">
						<div class="col-12">
							<div class="form-group">
								<h4>제목</h4>
								<input class="form-control" name="reviewUserTitle" id="reviewUserTitle" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = '입력하세요.'" placeholder="제목을 입력하세요."  required>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
							<h4>별점</h4>
								<input class="form-control valid" name="starScore" id="starScore" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = '입력하세요.'"  required>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
							<h4>이름</h4>
								<input class="form-control valid" name="userIdCode" id="userIdCode" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = '입력하세요.'" placeholder="이름을 입력하세요."  required>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
							<h4>본문</h4>
								<textarea class="form-control w-100" name="reviewContent" id="reviewContent" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = '본문을 입력하세요.'" placeholder="본문을 입력하세요."  required></textarea>
							</div>
						</div>
					
					</div>
						<div class="clickBtn mt-3" >
							<button type="submit" class="button button-contactForm boxed-btn">저장</button>
							<button type="submit" class="button2 button-contactForm boxed-btn">취소</button>
						</div>
				</form>
	</div>
</div>
			


</body>



<footer th:replace="/userpage/fragments/footer.html :: footerFragment"></footer>	
	
</html>