<!DOCTYPE html>
<html class="no-js" lang="zxx" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{userpage/layout/userdefault}">
<!------ Include the above in your HEAD tag ---------->
<div layout:fragment="content">
		<style>
.card-body{
	padding: 7.25rem;
	padding-bottom: 10px;
}

.card .card-footer {
	margin: 0px;
	padding: 7px;
}

.btn.btn-primary {
	background-color: #f3f5f700;
	border-color: #f3f5f700;
	color: #212529;
}

.btn.btn-primary:hover {
	background-color: #f3f5f700;
	border-color: #f3f5f700;
}

.replyContent {
	font-size: 20px;
	margin: 10px;
}
.rating {
    display: inline-block;
    direction: rtl;
    border:none;
	}
	.rating {
	    text-align: right;
	}
	.rating input[type=radio]{
	    display: none;
	}
	.rating label{
	    font-size: 1.5em;
	    color: transparent;
	    text-shadow: 0 0 0 #b1b1b1;
	    margin: -2px;
	}
	.rating .yellowstar{
	    font-size: 1.5em;
	    color: transparent;
	    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
	    margin: -2px;
	    float: left;
	}
</style>
        <div class="slider-area">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>Review</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!-- About Details Start -->
				
				
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div>
						<a type="button" style="padding: 10px; padding-left: 0px;"
							onclick="history.back(-1)">돌아가기</a> 
					</div>
					<input type="hidden" th:value="${reviewContentsReg.reviewCode}">
					<div class="replyForm" style="display: flex;">
						<div class="rating" id="viewScore" data-rate="3">
								<p class="replyContent" style="padding-right: 30px;" >별점</p>
									<input type="radio" name="reviewStarScore" value="5" id="rate1"><label class="yellowstar" for="rate1" th:if="${reviewContentsReg.reviewStarScore} == 1">★</label>
									<input type="radio" name="reviewStarScore" value="4" id="rate2"><label class="yellowstar" for="rate2" th:if="${reviewContentsReg.reviewStarScore} == 2">★★</label>
									<input type="radio" name="reviewStarScore" value="3" id="rate3"><label class="yellowstar" for="rate3" th:if="${reviewContentsReg.reviewStarScore} == 3">★★★</label>
									<input type="radio" name="reviewStarScore" value="2" id="rate4"><label class="yellowstar" for="rate4" th:if="${reviewContentsReg.reviewStarScore} == 4">★★★★</label>
									<input type="radio" name="reviewStarScore" value="1" id="rate5"><label class="yellowstar" for="rate5" th:if="${reviewContentsReg.reviewStarScore} == 5">★★★★★</label>
						</div>
					</div>
					<div class="replyForm" style="display: flex;">
						<p class="replyContent">작성일</p>
						<p class="replyContent" th:text="${reviewContentsReg.reviewRegDate}"
							style="padding-left: 87px;"></p>
					</div>
					<div class="card-footer" style="padding: 0px;"></div>
						<p class="replyContent">작성자</p>
						<p class="replyContent" th:text="${reviewContentsReg.userIdCode}"></p>
					</div>
					<div class="card-footer" style="padding: 0px;"></div>
					<div>
						<p style="font-size: 15px; margin: 100px"
							th:text="${reviewContentsReg.reviewContent}"></p>
					</div>
					<div class="review-bottom"
						style="display: flex; justify-content: flex-end; padding: 0px">
						<button class="btn" id="swal-delete-board"
							th:unless="${session.UID != userIdCode}"
							th:data-boardCd="${reviewContentsReg.reviewCode}">삭제</button>
					</div>
					<div class="card-footer"></div>

					<!-- <script type="text/javascript">
					$(function(){
						$(document).on('click','#swal-delete-board',function(){
							var boardCd = $(this).attr('data-boardCd');
						      const swalWithBootstrapButtons = swal.mixin({
						          confirmButtonClass: 'btn btn-success',
						          cancelButtonClass: 'btn btn-danger',
						          buttonsStyling: false,
						        });

						        swalWithBootstrapButtons({
						          title: '정말 삭제 하시겠습니까?',
						          text: "삭제 클릭시 해당 정보는 복구 할 수 없습니다.",
						          type: 'warning',
						          showCancelButton: true,
						          confirmButtonText: '네',
						          cancelButtonText: '아니오',
						          reverseButtons: false
						        }).then((result) => {
						          if (result.value) {
						            swalWithBootstrapButtons(
						              '삭제완료',
						              '1:1문의 게시글이 삭제되었습니다.',
						              'success'
						            )
						            location.href = '/board/boardRemove?boardCode=' + boardCd;
						          } else if (
						            // Read more about handling dismissals
						            result.dismiss === swal.DismissReason.cancel
						          ) {
						            swalWithBootstrapButtons(
						              '취소',
						              'error'
						            )
						          }
						        });	
						});
						
					});
					</script> -->
            
              </div>
           </div>
        </div>
   	</div>

</html>

