<!DOCTYPE html>
<html class="no-js" lang="zxx" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	 
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<head th:replace="/userpage/fragments/head.html :: headFragment">
</head>
<header th:replace="/userpage/fragments/header.html :: headerFragment"></header>
<body>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


		<!-- 사용자정의 content-->
	<th:block layout:fragment="customContents">
			<table border="1">
			<thead>
				<tr>
					<th>게시판 분류 카테고리 코드</th>
					<th>카테고리 등록자 id</th>
					<th>게시판 대분류 카테고리명</th>
					<th>게시판 대분류 카테고리 등록일자</th>
					<th>게시판 대분류 카테고리 사용여부</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${not #lists.isEmpty(boardCategoryList)}" th:each="l : ${boardCategoryList}">
					<td th:text="${l.boardCategoryCode}"></td>
					<td th:text="${l.userIdCode}"></td>
					<td th:text="${l.boardCategoryName}"></td>
					<td th:text="${l.boardCategoryRegDate}"></td>
					<td th:text="${l.boardCategoryUse}"></td>
				</tr>
				<tr th:unless="${not #lists.isEmpty(boardCategoryList)}">
					<td colspan="5">조회된 내용이 없습니다.</td>
				</tr>
			</tbody>
		</table>
	</th:block>

</html>