<!DOCTYPE html>
<html class="no-js" lang="zxx" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{userpage/layout/userdefault}">	 

<!------ Include the above in your HEAD tag ---------->
<div layout:fragment="content">
<style>

	.BoardRow{
		width: 1200px;
		margin:0 auto;	
	}
	
	.addBoardForm {
		width: 1200px;
		margin:0 auto;	
		margin-bottom: 100px;
		margin-top:100px;
	}
	
	.single-element-widget{
		margin-bottom: 30px;
	}
	
	.clickBtn{
		width: 1200px;
		text-align:center;
	}
	.totalOrder{
		padding-top: 10px;
	}
	</style>
	
	 <div class="slider-area">
	            <div class="slider-height2 d-flex align-items-center">
	                <div class="container">
	                    <div class="BoardRow">
	                        <div class="col-xl-12">
	                            <div class="hero-cap hero-cap2 text-center">
	                                <h2>Notice</h2>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <!-- Hero End -->
	        <!-- About Details Start -->
	
			<div class="addBoardForm">
					<form class="" th:action="@{/userpage/board/modifyNoticeBoard}" method="post">
				<div class="BoardRow">
					
							<div class="col-12">
								<div class="form-group">
									<h4>제목</h4>
									<input class="form-control" th:value="${board.boardPostTitle}" name="boardPostTitle" id="boardPostTitle" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = '제목입력하세요.'" placeholder="제목을 입력하세요."  required>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group">
								<h4>이름</h4>
									<input th:value="${board.boardUserName}" class="form-control valid" name="boardUserName" id="boardUserName" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = '이름입력하세요.'" placeholder="이름을 입력하세요."  required>
								</div>
							</div>
						
							<div class="col-12">
								<div class="form-group">
								<h4>본문</h4>
									<textarea th:text="${board.boardPostContent}" class="form-control w-100" name="boardPostContent" id="boardPostContent" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = '본문을 입력하세요.'" placeholder="본문을 입력하세요."  required></textarea>
								</div>
							</div>
								<div class="form-group">
							<input class="form-control" name="boardPostCode" type="hidden" th:value="${board.boardPostCode}"></input>
						</div>
							<div class="clickBtn mt-3" >
								<button type="submit" class="save boxed-btn">저장</button>
								<a th:href="@{/userpage/board/noticeBoardList}"><button type="button" class="cancel boxed-btn">취소</button></a>
							</div>
						</div>
					</form>
				</div>
			</div>
			

