<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="ks43team01.mapper.BoardMapper">
   <resultMap type="Board" id="boardResultMap">
         <id    column="board_post_code"              property="boardPostCode"/>
         <result column="user_id_code"                 property="userIdCode"/>
         <result column="board_category_code"          property="boardCategoryCode"/>
         <result column="board_post_title"              property="boardPostTitle"/>
         <result column="board_user_name"            property="boardUserName"/>
         <result column="board_post_content"            property="boardPostContent"/>
         <result column="board_post_reg_date"         property="boardPostRegDate"/>
         <result column="board_post_update_date"         property="boardPostUpdateDate"/>
         <result column="board_post_view"            property="boardPostView"/>
         <result column="board_post_use"               property="boardPostUse"/>
         
       <association property="boardCategory" javaType="BoardCategory">
          <id    column="board_category_code"             property="boardCategoryCode"/>
         <result column="user_id_code"                 property="userIdCode"/>
         <result column="board_category_name"          property="boardCategoryName"/>
         <result column="board_category_reg_date"      property="boardCategoryRegDate"/>
         <result column="board_category_update_date"      property="boardCategoryUpdateDate"/>
         <result column="board_category_use"           property="boardCategoryUse"/>   
       </association>   
    </resultMap>

   <resultMap type="QnaBoard" id="qnaBoardResultMap">
         <id    column="board_question_code"             property="boardQuestionCode"/>
         <result column="user_id_code"                 property="userIdCode"/>
         <result column="board_category_code"           property="boardCategoryCode"/>
         <result column="board_l_category_code"         property="boardLargeCategoryCode"/>
         <result column="board_m_category_code"         property="boardMediumCategoryCode"/>
         <result column="board_question_num"            property="boardQuestionNum"/>
         <result column="board_question_title"         property="boardQuestionTitle"/>
         <result column="user_name"                  property="userName"/>
         <result column="board_question_content"         property="boardQuestionContent"/>
         <result column="board_question_reg_date"      property="boardQuestionRegDate"/>
         <result column="user_email"                  property="userEmail"/>
           <result column="board_question_answer_method"   property="boardQuestionAnswerMethod"/>
         <result column="board_question_lock"         property="boardQuestionLock"/>
         <result column="board_question_pw"            property="boardQuestionPw"/>
         <result column="board_question_update_date"      property="boardQuestionUpdateDate"/>
         <result column="board_question_page_view"      property="boardQuestionPageView"/>
         <result column="board_question_use"            property="boardQuestionUse"/>
      
      <association property="boardLargeCategory" javaType="BoardLargeCategory">
         <id    column="board_l_category_code"          property="boardLargeCategoryCode"/>
         <result column="user_id_code"                 property="userIdCode"/>
         <result column="board_l_category_name"          property="boardLargeCategoryName"/>
         <result column="board_l_category_reg_date"      property="boardLargeCategoryRegDate"/>
         <result column="board_l_category_update_date"   property="boardLargeCategoryUpdateDate"/>
         <result column="board_l_category_use"           property="boardLargeCategoryUse"/>
      </association>
  
        <association property="boardMediumCategory" javaType="BoardMediumCategory">
           <id    column="board_m_category_code"          property="boardMediumCategoryCode"/>
         <result column="user_id_code"                 property="userIdCode"/>
         <result column="board_l_category_code"           property="boardLargeCategoryCode"/>
         <result column="board_m_category_name"          property="boardMediumCategoryName"/>
         <result column="board_m_category_reg_date"      property="boardMediumCategoryRegDate"/>
         <result column="board_m_category_update_date"   property="boardMediumCategoryUpdateDate"/>
         <result column="board_m_category_use"           property="boardMediumCategoryUse"/>
        </association>
  
      <association property="boardPostFile" javaType="BoardPostFile">
         <id    column="board_post_file_code"          property="boardPostFileCode"/>
         <result column="user_id_code"                 property="userIdCode"/>
         <result column="board_post_code"              property="boardPostCode"/>
         <result column="board_post_file_name"          property="boardPostFileName"/>
         <result column="board_post_file_extension"      property="boardPostFileExtension"/>
         <result column="board_post_file_size"          property="boardPostFileSize"/>
         <result column="board_post_file_reg_date"      property="boardPostFileRegDate"/>
         <result column="board_post_file_use"           property="boardPostFileUse"/>   
      </association>
  </resultMap>
  
  <update id="modifyNoticeBoard" parameterType="Board">
	/* 리뷰 수정 */
		UPDATE
			tb_b_board_post 
		SET 
			board_post_content = #{boardPostContent}
		    board_post_reg_date = CURDATE()
		WHERE
			board_post_code = #{boardPostCode};
	</update>
  
  
  
     <select id="getBoardByCode" parameterType="String" resultType="Board">
 	  /* 게시글 상세 페이지 조회*/
      SELECT
         board_post_code 					AS boardPostCode
         , user_id_code 					AS userIdCode
         , board_post_title					AS boardPostTitle
         , board_user_name 					AS boardUserName
         , board_post_content 				AS boardPostContent
         , board_post_reg_date 				AS boardPostRegDate
         , board_post_view 					AS boardPostView
      FROM
         tb_b_board_post
      WHERE
         board_post_code = #{boardPostCode};
   </select>
      
  
   <select id="getBoardPostFileList" resultType="BoardPostFile">
   /* 게시글 첨부파일 목록 조회 */
      SELECT
         board_post_file_code          AS boardPostFileCode
         , user_id_code                AS userIdCode
         , board_post_code            AS boardPostCode
         , board_post_file_name          AS boardPostFileName
         , board_post_file_extension    AS boardPostFileExtension
         , board_post_file_size          AS boardPostFileSize
         , board_post_file_reg_date       AS boardPostFileRegDate
         , board_post_file_use          AS boardPostFileUse
      FROM   
         tb_b_board_post_file;
   </select>
   
   <insert id="addBoardMediumCategory" parameterType="BoardMediumCategory">
      /* 문의 게시판 2차 카테고리 등록*/
           INSERT INTO tb_b_board_m_category
         (   board_m_category_code
            , user_id_code
            , board_l_category_code
            , board_m_category_name
            , board_m_category_reg_date
            , board_m_category_update_date
            , board_m_category_use
         )VALUES (
           #{boardMediumCategoryCode}
           , #{userIdCode}
           , #{boardLargeCategoryName}
           , CURDATE() 
           , CURDATE() 
           , 'Y'
         );
    </insert>

   <select id="getBoardMediumCategoryList" resultType="BoardMediumCategory">
   /* 문의 게시판 2차 카테고리 조회 */
      SELECT
         board_m_category_code             AS boardMediumCategoryCode
         ,user_id_code                   AS userIdCode
         ,board_l_category_code             AS boardLargeCategoryCode
         ,board_m_category_name             AS boardMediumCategoryName
         ,board_m_category_reg_date          AS boardMediumCategoryRegDate
         ,board_m_category_update_date      AS boardMediumCategoryUpdateDate
         ,board_m_category_use             AS boardMediumCategoryUse
      FROM 
         tb_b_board_m_category;
     </select>
     
     <insert id="addBoardLargeCategory" parameterType="BoardLargeCategory">
      /* 문의 게시판 1차 카테고리 등록*/
           INSERT INTO tb_b_board_l_category
         (   board_l_category_code
            , user_id_code
            , board_l_category_name
            , board_l_category_reg_date
            , board_l_category_update_date
            , board_l_category_use
         )VALUES (
           #{boardLargeCategoryCode}
           , #{userIdCode}
           , #{boardLargeCategoryName}
           , CURDATE() 
           , CURDATE() 
           , 'Y'
         );
    </insert>
    
   <select id="getBoardLargeCategoryList" resultType="BoardLargeCategory">
   /* 문의 게시판 1차 카테고리 조회 */
      SELECT
         board_l_category_code             AS boardLargeCategoryCode
         ,user_id_code                   AS userIdCode
         ,board_l_category_name             AS boardLargeCategoryName
         ,board_l_category_reg_date          AS boardLargeCategoryRegDate
         ,board_l_category_update_date      AS boardLargeCategoryUpdateDate
         ,board_l_category_use             AS boardLargeCategoryUse
      FROM 
         tb_b_board_l_category;
     </select>
    
     <insert id="addBoardCategory" parameterType="BoardCategory">
   /*게시글 대분류 카테고리 등록*/
        INSERT INTO tb_b_board_category
      (   board_category_code
         , user_id_code
         , board_category_name
         , board_category_reg_date
         , board_category_update_date
         , board_category_use
      )VALUES (
        #{boardCategoryCode}
        , #{userIdCode}
        , #{boardCategoryName}
        , CURDATE() 
        , CURDATE() 
        , 'Y'
      );
    </insert>
     
   <select id="getBoardCategoryList" resultType="BoardCategory">
   /*게시글 대분류 카테고리 조회*/
      SELECT
         board_category_code             AS boardCategoryCode
         , user_id_code                   AS userIdCode
         , board_category_name             AS boardCategoryName
         , board_category_reg_date         AS boardCategoryRegDate
         , board_category_update_date       AS boardCategoryUpdateDate
         , board_category_use             AS boardCategoryUse
      FROM
         tb_b_board_category;
   </select>  

   <select id="getQnaBoardList" resultType="QnaBoard">
   /*사용자용 1:1 문의 게시글 조회*/
      SELECT
         board_question_num AS boardQuestionNum
         , board_question_title AS boardQuestionTitle
         , user_name AS userName
         , board_question_lock AS boardQuestionLock
         , board_question_reg_date AS boardQuestionRegDate
         , board_question_page_view AS boardQuestionPageView
      FROM
         tb_b_board_question;
   </select>

   <insert id="addFreeBoard" parameterType="Board">
   /* 자유게시판 게시글 등록*/
        INSERT INTO tb_b_board_post
      (   board_post_code
         , user_id_code
         , board_category_code
         , board_post_title
         , board_user_name
         , board_post_content
         , board_post_reg_date
         , board_post_update_date
         , board_post_view
         , board_post_use
      )VALUES (
        (select date_format(NOW(),'post%y%m%d%H%i%s')AS board_post_code)
        , #{userIdCode}
        , 'board04'
        , #{boardPostTitle}
        , #{boardUserName} 
        , #{boardPostContent} 
        , CURDATE() 
        , CURDATE() 
        , #{boardPostView}
        , 'Y'
      );
    </insert>

   <select id="getFreeBoardList" resultType="Board">
   /*사용자용 자유게시판 조회*/
      SELECT
         board_post_code          	AS boardPostCode
         , user_id_code           	AS userIdCode
         , board_category_code      AS boardCategoryCode
         , board_post_title         AS boardPostTitle
         , board_user_name          AS boardUserName
         , board_post_reg_date      AS boardPostRegDate
         , board_post_view          AS boardPostView
      FROM
         tb_b_board_post
      WHERE
         board_category_code = 'board04';
   </select>
   <insert id="addFaqBoard" parameterType="Board">
   /* 자주하는 질문 게시글 등록*/
        INSERT INTO tb_b_board_post
      (   board_post_code
         , user_id_code
         , board_category_code
         , board_post_title
         , board_user_name
         , board_post_content
         , board_post_reg_date
         , board_post_update_date
         , board_post_view
         , board_post_use
      )VALUES (
        (select date_format(NOW(),'post%y%m%d%H%i%s')AS board_post_code)
        , #{userIdCode}
        , 'board02'
        , #{boardPostTitle}
        , #{boardUserName} 
        , #{boardPostContent} 
        , CURDATE() 
        , CURDATE() 
        , #{boardPostView}
        , 'Y'
      );
    </insert>

   <select id="getFaqBoardList" resultType="Board">
   /*사용자용 자주묻는 질문 조회*/
      SELECT
        board_post_code          AS boardPostCode
         , user_id_code          AS userIdCode
         , board_category_code   AS boardCategoryCode
         , board_post_title      AS boardPostTitle
         , board_user_name       AS boardUserName
         , board_post_reg_date   AS boardPostRegDate
         , board_post_view       AS boardPostView
      FROM
         tb_b_board_post
      WHERE
         board_category_code = 'board02';
   </select>

   <insert id="addNoticeBoard" parameterType="Board">
   /*공지사항 게시글 등록*/
        INSERT INTO tb_b_board_post
      (   board_post_code
         , user_id_code
         , board_category_code
         , board_post_title
         , board_user_name
         , board_post_content
         , board_post_reg_date
         , board_post_update_date
         , board_post_view
         , board_post_use
      )VALUES (
        (select date_format(NOW(),'post%y%m%d%H%i%s')AS board_post_code)
        , #{userIdCode}
        , 'board01'
        , #{boardPostTitle}
        , #{boardUserName} 
        , #{boardPostContent} 
        , CURDATE() 
        , CURDATE() 
        , #{boardPostView}
        , 'Y'
      );
    </insert>

     <select id="getNoticeBoardList" resultType="Board">
   /*사용자용 공지사항 조회*/
      SELECT
         board_post_code          AS boardPostCode
         ,user_id_code            AS userIdCode
         , board_category_code      AS boardCategoryCode
         , board_post_title          AS boardPostTitle
         , board_user_name          AS boardUserName
         , board_post_reg_date       AS boardPostRegDate
         , board_post_view          AS boardPostView
      FROM
         tb_b_board_post
      WHERE
         board_category_code = 'board01';
   </select>
  
     <select id="getBoardList" resultType="Board">
   /*관리자용 전체 게시글 조회*/
      SELECT
         board_post_code                AS boardPostCode       
         , user_id_code                   AS userIdCode
         , board_category_code             AS boardCategoryCode
         , board_post_title                AS boardPostTitle
         , board_user_name                AS boardUserName
         , board_post_content             AS boardPostContent
         , board_post_reg_date             AS boardPostRegDate
         , board_post_update_date          AS boardPostUpdateDate
         , board_post_view                AS boardPostView
         , board_post_use                AS boardPostUse
      FROM
         tb_b_board_post;
  </select>
  
  </mapper>