<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="ks43team01.mapper.BoardMapper">
	<resultMap type="Board" id="boardResultMap">
		<id    column="board_post_code"						property="boardPostCode"/>
		<result column="user_id_code"						property="userIdCode"/>
		<result column="board_category_code"				property="boardCategoryCode"/>
		<result column="board_post_title"					property="boardPostTitle"/>
		<result column="board_user_name"					property="boardUserName"/>
		<result column="board_post_content"					property="boardPostContent"/>
		<result column="board_post_reg_date"				property="boardPostRegDate"/>
		<result column="board_post_update_date"				property="boardPostUpdateDate"/>
		<result column="board_post_view"					property="boardPostView"/>
		<result column="board_post_use"						property="boardPostUse"/>
         
		<association property="boardCategory" javaType="BoardCategory">
			<id    column="board_category_code"				property="boardCategoryCode"/>
			<result column="user_id_code"					property="userIdCode"/>
			<result column="board_category_name"			property="boardCategoryName"/>
			<result column="board_category_reg_date"		property="boardCategoryRegDate"/>
			<result column="board_category_update_date"		property="boardCategoryUpdateDate"/>
			<result column="board_category_use"				property="boardCategoryUse"/>   
		</association>   
       
		<association property="boardComment" javaType="BoardComment">
			<id    column="board_comment_code"				property="boardCommentCode"/>
			<result column="user_id_code"					property="userIdCode"/>
			<result column="board_post_code"				property="boardPostCode"/>
			<result column="board_comment_content"			property="boardCommentContent"/>
			<result column="board_comment_reg_date"			property="boardCommentRegDate"/>   
			<result column="board_comment_use"				property="boardCommentUse"/>
			<result column="user_name"						property="userName"/>   
			<result column="board_comment_update_date"		property="boardCommentUpdateDate"/>   
		</association>   
	</resultMap>

	<resultMap type="QnaBoard" id="qnaBoardResultMap">
		<id    column="board_question_code"					property="boardQuestionCode"/>
		<result column="user_id_code"						property="userIdCode"/>
		<result column="board_category_code"				property="boardCategoryCode"/>
		<result column="board_l_category_code"				property="boardLargeCategoryCode"/>
		<result column="board_m_category_code"				property="boardMediumCategoryCode"/>
		<result column="board_question_title"				property="boardQuestionTitle"/>
		<result column="user_name"							property="userName"/>
		<result column="board_question_content"				property="boardQuestionContent"/>
		<result column="board_question_file"				property="boardQuestionFile"/>
		<result column="board_question_reg_date"			property="boardQuestionRegDate"/>
		<result column="user_email"							property="userEmail"/>
		<result column="board_question_answer_method"		property="boardQuestionAnswerMethod"/>
		<result column="board_question_lock"				property="boardQuestionLock"/>
		<result column="board_question_pw"					property="boardQuestionPw"/>
		<result column="board_question_update_date"			property="boardQuestionUpdateDate"/>
		<result column="board_question_page_view"			property="boardQuestionPageView"/>
		<result column="board_question_use"					property="boardQuestionUse"/>
		
		<association property="boardLargeCategory" javaType="BoardLargeCategory">
			<id    column="board_l_category_code"			property="boardLargeCategoryCode"/>
			<result column="user_id_code"					property="userIdCode"/>
			<result column="board_l_category_name"			property="boardLargeCategoryName"/>
			<result column="board_l_category_reg_date"		property="boardLargeCategoryRegDate"/>
			<result column="board_l_category_update_date"	property="boardLargeCategoryUpdateDate"/>
			<result column="board_l_category_use"			property="boardLargeCategoryUse"/>
		</association>
  
		<association property="boardMediumCategory" javaType="BoardMediumCategory">
			<id    column="board_m_category_code"			property="boardMediumCategoryCode"/>
			<result column="user_id_code"					property="userIdCode"/>
			<result column="board_l_category_code"			property="boardLargeCategoryCode"/>
			<result column="board_l_category_name"			property="boardLargeCategoryName"/>
			<result column="board_m_category_name"			property="boardMediumCategoryName"/>
			<result column="board_m_category_reg_date"		property="boardMediumCategoryRegDate"/>
			<result column="board_m_category_update_date"	property="boardMediumCategoryUpdateDate"/>
			<result column="board_m_category_use"			property="boardMediumCategoryUse"/>
		</association>
  
		<association property="boardAnswer" javaType="BoardAnswer">
			<id    column="board_answer_code"				property="boardAnswerCode"/>
			<result column="user_id_code"					property="userIdCode"/>
			<result column="board_l_category_code"			property="boardLargeCategoryCode"/>
			<result column="board_m_category_code"			property="boardMediumCategoryCode"/>
			<result column="board_answer_word"				property="boardAnswerWord"/>
			<result column="board_answer_content"			property="boardAnswerContent"/>
			<result column="board_answer_reg_date"			property="boardAnswerRegDate"/>
			<result column="board_answer_update_date"		property="boardAnswerUpdateDate"/>   
		</association>
		
		<collection property="file" ofType="File">
			<id    column="file_code"						property="fileCode"/>
			<result column="user_id_code"					property="userIdCode"/>
			<result column="file_orginal_name"				property="fileOriginalName"/>
			<result column="file_re_name"					property="fileReName"/>
			<result column="file_main_image"				property="fileMainImage"/>
			<result column="file_location"					property="fileLocation"/>
			<result column="file_size"						property="fileSize"/>
			<result column="file_reg_date"					property="fileRegDate"/>
			<result column="file_update_date"				property="fileUpdateDate"/>
			<result column="file_use"						property="fileUse"/>	
		</collection>
	</resultMap>

  
	<update id="updatePageView" parameterType="int"> 
	/*게시글 조회수 증가*/
		UPDATE
			tb_b_board_post
		SET
			board_post_view = board_post_view + 1
		WHERE
			board_post_code = #{boardPostCode}
	</update>
  
	<delete id="removeComment" parameterType="String">
	/*게시글 댓글 삭제 */
		DELETE
		FROM
			tb_b_board_comment
		WHERE
			board_comment_code = #{boardCommentCode};
	</delete>
  
	<update id="modifyComment" parameterType="String">
	/*게시글  댓글 수정 */
		UPDATE
			tb_b_board_comment 
		SET 
			board_comment_content = #{boardCommentContent}
			, board_comment_reg_date = CURDATE()
		WHERE
			board_comment_code = #{boardCommentCode};
	</update>
  
  
	<insert id="addComment" parameterType="BoardComment">
	/*게시글 댓글 등록 */
		INSERT INTO tb_b_board_comment
		(	board_comment_code
			, user_id_code
			, board_post_code
			, board_comment_content
			, board_comment_reg_date
			, board_comment_use
			, user_name
			, board_comment_update_date)
		VALUES (
			(select date_format(NOW(),'comment%y%m%d%H%i%s')AS board_comment_code)
			, #{userIdCode}
			, #{boardPostCode}
			, #{boardCommentContent}
			, NOW()
			, 'Y'
			, #{userName}
			, NOW()
		);
	</insert>
  

	<select id="getBoardPostCommentList" resultType="BoardComment">
		/*게시글 댓글 조회 */
			SELECT
				board_comment_code					AS boardCommentCode
				, user_id_code						AS userIdCode
				, board_post_code					AS boardPostCode
				, board_comment_content				AS boardCommentContent
				, board_comment_reg_date			AS boardCommentRegDate
				, user_name							AS userName
				, board_comment_update_date			AS boardCommentUpdateDate
			FROM
				tb_b_board_comment
			WHERE
				board_post_code = #{boardPostCode};
	</select>

	<select id="getBoardAnswerList" resultType="BoardAnswer">
	/*게시글 답변 모음 목록 조회 */
		SELECT
			board_answer_code 						AS boardAnswerCode
			, user_id_code 							AS userIdCode
			, board_l_category_code 				AS boardLargeCategoryCode
			, board_m_category_code 				AS boardMediumCategoryCode
			, board_answer_word 					AS boardAnswerWord
			, board_answer_content 					AS boardAnswerContent
			, board_answer_reg_date 				AS boardAnswerRegDate
			, board_answer_update_date 				AS boardAnswerUpdateDate
		FROM
			tb_b_board_answer;
     </select>  
  
	<select id="getBoardCommentList" resultType="BoardComment">
	/*관리자용 게시글 댓글 목록 조회 */
		SELECT
			board_comment_code 						AS boardCommentCode
			, user_id_code 							AS userIdCode
			, board_post_code 						AS boardPostCode
			, board_comment_content 				AS boardCommentContent
			, board_comment_reg_date 				AS boardCommentRegDate
			, board_comment_use 					AS boardCommentUse
			, user_name 							AS userName
			, board_comment_update_date 			AS boardCommentUpdateDate
		FROM
			tb_b_board_comment;
	</select>

	<delete id="removeBoard" parameterType="String">
	/*게시글 삭제 */
		DELETE
		FROM
			tb_b_board_post
		WHERE
			board_post_code = #{boardPostCode};
	</delete>

	<update id="modifyBoard" parameterType="String">
	/*게시글 수정 */
		UPDATE
			tb_b_board_post 
		SET 
			board_post_content = #{boardPostContent}
			, board_post_reg_date = CURDATE()
			, board_post_title = #{boardPostTitle}
		WHERE
			board_post_code = #{boardPostCode};
	</update>

	<select id="getQnaBoardByCode" parameterType="String" resultMap="qnaBoardResultMap">
	/*1:1 문의 게시글 상세 페이지 조회*/
			SELECT
			bq.board_question_code
			,bq.user_id_code
			,bq.board_category_code
			,bq.board_l_category_code
			,bq.board_m_category_code
			,bq.board_question_title
			,bq.user_name
			,bq.board_question_content
			,bq.board_question_file
			,bq.board_question_reg_date
			,bq.user_email
			,bq.board_question_answer_method
			,sub.file_code 
			,sub.user_id_code
			,sub.file_orginal_name
			,sub.file_re_name
			,sub.file_main_image
			,sub.file_location
			,sub.file_size
			,sub.file_reg_date
			,sub.file_update_date
			,sub.file_use
			,sub.board_question_code
		FROM
			tb_b_board_question AS bq
			    LEFT JOIN
				(SELECT
					f.file_code 
					,f.user_id_code
					,f.file_orginal_name
					,f.file_re_name
					,f.file_main_image
					,f.file_location
					,f.file_size
					,f.file_reg_date
					,f.file_update_date
					,f.file_use
					,re.board_question_code
				FROM
					tb_f_file AS f
					INNER join
						tb_b_rel_file_with_QnaBoard AS re
					on
						f.file_code = re.file_code) AS sub
			ON
				sub.board_question_code = bq.board_question_code
			where
				bq.board_question_code = #{boardQuestionCode};
	</select>
   
	<select id="getBoardByCode" parameterType="String" resultType="Board">
	/*게시글 상세 페이지 조회*/
		SELECT
			board_post_code 						AS boardPostCode
			, user_id_code 							AS userIdCode
			, board_post_title						AS boardPostTitle
			, board_user_name 						AS boardUserName
			, board_post_content 					AS boardPostContent
			, board_post_reg_date 					AS boardPostRegDate
			, board_post_view 						AS boardPostView
		FROM
			tb_b_board_post
		WHERE
			board_post_code = #{boardPostCode};
   </select>
      
   	<insert id="addQnaBoard" parameterType="QnaBoard">
	/* 1:1 문의 게시글 등록*/
		INSERT INTO tb_b_board_question
		(	board_question_code
			, user_id_code
			, board_category_code
			, board_l_category_code
			, board_m_category_code
			, board_question_title
			, user_name
			, board_question_content
			, board_question_file
			, board_question_reg_date
			, user_email
			, board_question_answer_method
			, board_question_lock
			, board_question_pw
			, board_question_update_date
			, board_question_page_view
			, board_question_use	
		)VALUES 
		(
					(select date_format(NOW(),'question%y%m%d%H%i%s')AS board_question_code)
					,#{userIdCode}
					,'board03'
					, (
						SELECT
							m.board_l_category_code
						FROM
							tb_b_board_m_category AS m
						WHERE
							m.board_m_category_code = #{boardMediumCategoryCode}
						)	
					,#{boardMediumCategoryCode}
					,#{boardQuestionTitle}
					,#{userName}
					,#{boardQuestionContent}
					,#{boardQuestionFile}
					, CURDATE()
					,#{userEmail}
					,#{boardQuestionAnswerMethod}
					,#{boardQuestionLock}
					,#{boardQuestionPw}
					,CURDATE()
					,#{boardQuestionPageView}
					, 'Y');

	</insert>
   
	<insert id="addBoardMediumCategory" parameterType="BoardMediumCategory">
	/*문의 게시판 2차 카테고리 등록*/
		INSERT INTO tb_b_board_m_category
         (	board_m_category_code
			, user_id_code
			, board_l_category_code
			, board_m_category_name
			, board_m_category_reg_date
			, board_m_category_update_date
			, board_m_category_use
		)VALUES (
			#{boardMediumCategoryCode}
			, #{userIdCode}
			, #{boardLargeCategoryName}
			, CURDATE() 
			, CURDATE() 
			, 'Y'
		);
	</insert>
	
	<select id="getBoardMediumCategory" parameterType="String" resultType="BoardMediumCategory">
	/*문의 게시판 2차 카테고리 조회 */
	SELECT
			board_m_category_code					AS boardMediumCategoryCode
			,user_id_code							AS userIdCode
			,board_l_category_code					AS boardLargeCategoryCode
			,board_l_category_name					AS boardLargeCategoryName
			,board_m_category_name					AS boardMediumCategoryName
			,board_m_category_reg_date				AS boardMediumCategoryRegDate
			,board_m_category_update_date			AS boardMediumCategoryUpdateDate
			,board_m_category_use					AS boardMediumCategoryUse
		FROM 
			tb_b_board_m_category
		WHERE
			board_l_category_code = #{boardLargeCategoryName};
	</select>


	<select id="getBoardMediumCategoryList" resultType="BoardMediumCategory">
	/*문의 게시판 2차 카테고리 조회 */
		SELECT
			board_m_category_code					AS boardMediumCategoryCode
			,user_id_code							AS userIdCode
			,board_l_category_code					AS boardLargeCategoryCode
			,board_m_category_name					AS boardMediumCategoryName
			,board_m_category_reg_date				AS boardMediumCategoryRegDate
			,board_m_category_update_date			AS boardMediumCategoryUpdateDate
			,board_m_category_use					AS boardMediumCategoryUse
		FROM 
			tb_b_board_m_category;
	</select>
     
	<insert id="addBoardLargeCategory" parameterType="BoardLargeCategory">
	/*문의 게시판 1차 카테고리 등록*/
		INSERT INTO tb_b_board_l_category
		(	board_l_category_code
			, user_id_code
			, board_l_category_name
			, board_l_category_reg_date
			, board_l_category_update_date
			, board_l_category_use
		)VALUES (
			#{boardLargeCategoryCode}
			, #{userIdCode}
			, #{boardLargeCategoryName}
			, CURDATE() 
			, CURDATE() 
			, 'Y'
		);
	</insert>
    
	<select id="getBoardLargeCategory" resultType="BoardLargeCategory">
	/*문의 게시판 1차 카테고리 조회 */
		SELECT
			board_l_category_code					AS boardLargeCategoryCode
			,user_id_code							AS userIdCode
			,board_l_category_name					AS boardLargeCategoryName
			,board_l_category_reg_date				AS boardLargeCategoryRegDate
			,board_l_category_update_date			AS boardLargeCategoryUpdateDate
			,board_l_category_use					AS boardLargeCategoryUse
		FROM 
			tb_b_board_l_category;
	</select>
	<select id="getBoardLargeCategoryList" resultType="BoardLargeCategory">
	/*문의 게시판 1차 카테고리 조회 */
		SELECT
			board_l_category_code					AS boardLargeCategoryCode
			,user_id_code							AS userIdCode
			,board_l_category_name					AS boardLargeCategoryName
			,board_l_category_reg_date				AS boardLargeCategoryRegDate
			,board_l_category_update_date			AS boardLargeCategoryUpdateDate
			,board_l_category_use					AS boardLargeCategoryUse
		FROM 
			tb_b_board_l_category;
	</select>
    
	<insert id="addBoardCategory" parameterType="BoardCategory">
	/*게시글 대분류 카테고리 등록*/
		INSERT INTO tb_b_board_category
		(	board_category_code
			, user_id_code
			, board_category_name
			, board_category_reg_date
			, board_category_update_date
			, board_category_use
		)VALUES (
			#{boardCategoryCode}
			, #{userIdCode}
			, #{boardCategoryName}
			, CURDATE() 
			, CURDATE() 
			, 'Y'
		);
	</insert>
     
	<select id="getBoardCategoryList" resultType="BoardCategory">
	/*게시글 대분류 카테고리 조회*/
		SELECT
			board_category_code						AS boardCategoryCode
			, user_id_code							AS userIdCode
			, board_category_name					AS boardCategoryName
			, board_category_reg_date				AS boardCategoryRegDate
			, board_category_update_date			AS boardCategoryUpdateDate
			, board_category_use					AS boardCategoryUse
		FROM
			tb_b_board_category;
   </select>  

	<select id="getQnaBoardList" resultType="QnaBoard">
	/*사용자용 1:1 문의 게시글 조회*/
		SELECT
			board_question_code						AS boardQuestionCode
			, user_id_code							AS userIdCode
			, board_category_code					AS boardCategoryCode
			, board_l_category_code					AS boardLargeCategoryCode
			, board_m_category_code					AS boardMediumCategoryCode
			, board_question_title					AS boardQuestionTitle
			, user_name								AS userName
			, board_question_lock					AS boardQuestionLock
			, board_question_reg_date				AS boardQuestionRegDate
			, board_question_page_view				AS boardQuestionPageView
		FROM
			tb_b_board_question;
	</select>

	<insert id="addFreeBoard" parameterType="Board">
	/* 자유게시판 게시글 등록*/
		INSERT INTO tb_b_board_post
		(	board_post_code
			, user_id_code
			, board_category_code
			, board_post_title
			, board_user_name
			, board_post_content
			, board_post_reg_date
			, board_post_update_date
			, board_post_view
			, board_post_use
		)VALUES (
			(select date_format(NOW(),'post%y%m%d%H%i%s')AS board_post_code)
			, #{userIdCode}
			, 'board04'
			, #{boardPostTitle}
			, #{boardUserName} 
			, #{boardPostContent} 
			, CURDATE() 
			, CURDATE() 
			, #{boardPostView}
			, 'Y'
		);
	</insert>

	<select id="getFreeBoardList" resultType="Board">
	/*사용자용 자유게시판 조회*/
		SELECT
			board_post_code							AS boardPostCode
			, user_id_code							AS userIdCode
			, board_category_code					AS boardCategoryCode
			, board_post_title						AS boardPostTitle
			, board_user_name						AS boardUserName
			, board_post_reg_date					AS boardPostRegDate
			, board_post_view						AS boardPostView
		FROM
			tb_b_board_post
		WHERE
			board_category_code = 'board04';
	</select>
   
	<insert id="addFaqBoard" parameterType="Board">
	/*자주하는 질문 게시글 등록*/
		INSERT INTO tb_b_board_post
		(	board_post_code
			, user_id_code
			, board_category_code
			, board_post_title
			, board_user_name
			, board_post_content
			, board_post_reg_date
			, board_post_update_date
			, board_post_view
			, board_post_use
		)VALUES (
			(select date_format(NOW(),'post%y%m%d%H%i%s')AS board_post_code)
			, #{userIdCode}
			, 'board02'
			, #{boardPostTitle}
			, #{boardUserName} 
			, #{boardPostContent} 
			, CURDATE() 
			, CURDATE() 
			, #{boardPostView}
			, 'Y'
		);
	</insert>

	<select id="getFaqBoardList" resultType="Board">
	/*사용자용 자주묻는 질문 조회*/
		SELECT
			board_post_code							AS boardPostCode
			, user_id_code							AS userIdCode
			, board_category_code					AS boardCategoryCode
			, board_post_title						AS boardPostTitle
			, board_user_name						AS boardUserName
			, board_post_reg_date					AS boardPostRegDate
			, board_post_view						AS boardPostView
		FROM
			tb_b_board_post
		WHERE
			board_category_code = 'board02';
	</select>

	<insert id="addNoticeBoard" parameterType="Board">
	/*공지사항 게시글 등록*/
		INSERT INTO tb_b_board_post
		(	board_post_code
			, user_id_code
			, board_category_code
			, board_post_title
			, board_user_name
			, board_post_content
			, board_post_reg_date
			, board_post_update_date
			, board_post_view
			, board_post_use
		)VALUES(
			(select date_format(NOW(),'post%y%m%d%H%i%s')AS board_post_code)
			, #{userIdCode}
			, 'board01'
			, #{boardPostTitle}
			, #{boardUserName} 
			, #{boardPostContent} 
			, CURDATE() 
			, CURDATE() 
			, #{boardPostView}
			, 'Y'
		);
	</insert>

	<select id="getNoticeBoardList" resultType="Board">
	/*사용자용 공지사항 조회*/
		SELECT
			board_post_code							AS boardPostCode
			,user_id_code							AS userIdCode
			, board_category_code					AS boardCategoryCode
			, board_post_title						AS boardPostTitle
			, board_user_name						AS boardUserName
			, board_post_reg_date					AS boardPostRegDate
			, board_post_view						AS boardPostView
		FROM
			tb_b_board_post
		WHERE
			board_category_code = 'board01';
	</select>
  
	<select id="getBoardList" resultType="Board">
	/*관리자용 전체 게시글 조회*/
		SELECT
			board_post_code							AS boardPostCode       
			, user_id_code							AS userIdCode
			, board_category_code					AS boardCategoryCode
			, board_post_title						AS boardPostTitle
			, board_user_name						AS boardUserName
			, board_post_content					AS boardPostContent
			, board_post_reg_date					AS boardPostRegDate
			, board_post_update_date				AS boardPostUpdateDate
			, board_post_view						AS boardPostView
			, board_post_use						AS boardPostUse
		FROM
			tb_b_board_post;
  </select>
  
</mapper>