<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="ks43team01.mapper.BoardMapper">
  <resultMap type="Board" id="boardResultMap">
 			<id 	column="board_post_code" 	 property="boardPostCode"/>
 			<result column="user_id_code" 	 property="userIdCode"/>
 			<result column="board_category_code" 	 property="boardCategoryCode"/>
 			<result column="board_post_title"  property="boardPostTitle"/>
 			<result column="board_user_name" property="boardUserName"/>
 			<result column="board_post_content"  property="boardPostContent"/>
 			<result column="board_post_reg_date"  property="boardPostRegDate"/>
 			<result column="board_post_update_date"  property="boardPostUpdateDate"/>
 			<result column="board_post_view"  property="boardPostView"/>
 			<result column="board_post_use"  property="boardPostUse"/>
  </resultMap>


  





	<select id="getFreeBoardList" resultMap="boardResultMap">
	/*사용자용 자유게시판 조회*/
		SELECT
			board_post_title
			,board_user_name
			,board_post_reg_date
			,board_post_view
		FROM
			tb_b_board_post
		WHERE
			board_category_code = 'board04';
	</select>


	<select id="getFaqBoardList" resultMap="boardResultMap">
	/*사용자용 자주묻는 질문 조회*/
		SELECT
			board_post_title
			,board_user_name
			,board_post_reg_date
			,board_post_view
		FROM
			tb_b_board_post
		WHERE
			board_category_code = 'board02';
	</select>


  	<select id="getNoticeBoardList" resultMap="boardResultMap">
	/*사용자용 공지사항 조회*/
		SELECT
			board_post_title
			,board_user_name
			,board_post_reg_date
			,board_post_view
		FROM
			tb_b_board_post
		WHERE
			board_category_code = 'board01';
	</select>
  
  </mapper>