<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks43team01.mapper.GoodsAllMapper">

	<resultMap type="GoodsAll" id="GoodsAllResultMap" >
		<association property="goods" javaType="Goods">		
			<id 	column="goods_code"							property="goodsCode"/>
			<result column="goods_sub_category_code" 			property="goodsSubCategoryCode"/>
			<result column="goods_name" 						property="goodsName"/>
			<result column="goods_description" 					property="goodsDescription"/>
			<result column="goods_price" 						property="goodsPrice"/>
			<result column="goods_working_period" 				property="goodsWorkingPeriod"/>
			<result column="goods_modified_possibility_count"	property="goodsModifiedPossibilityCount"/>
			<result column="goods_image_reg" 					property="goodsImageReg"/>
			<result column="user_id_code" 						property="userIdCode"/>
			<result column="goods_reg_date" 					property="goodsRegDate"/>
		</association>
		<association property="goodsTopCategory" javaType="GoodsTopCategory">
			<id 	column="goods_top_category_code"		property="goodsTopCategoryCode"/>
			<result column="goods_top_category_name" 		property="goodsTopCategoryName"/>
			<result column="user_id_code" 					property="userIdCode"/>
			<result column="goods_top_category_reg_date"	property="goodsTopCategoryRegDate"/>
		</association>
		<association property="goodsSubCategory" javaType="GoodsSubCategory">
			<id 	column="goods_sub_category_code"		property="goodsSubCategoryCode"/>
			<result column="goods_top_category_code" 		property="goodsTopCategoryCode"/>
			<result column="goods_top_category_name" 		property="goodsTopCategoryName"/>
			<result column="goods_sub_category_name"		property="goodsSubCategoryName"/>
			<result column="user_id_code"					property="userIdCode"/>
			<result column="goods_sub_category_reg_date"	property="goodsSubCategoryRegDate"/>
		</association>
	</resultMap>
	
	<!-- 사용자 화면 -->
	<!-- 사용자 화면 -->
	<select id="getUserGoodsList" resultType="Goods">
		/* 사용자화면 상품리스트 */
		SELECT
			g.user_id_code		AS userIdCode,
			g.goods_name 		AS goodsName,
			g.goods_image_reg	AS goodsImageReg,
			g.goods_price 		AS goodsPrice
		FROM
			tb_g_goods AS g
	</select>
	
	<insert id="addGoods" parameterType="Goods">
		/* 상품 등록 */
		
	</insert>
	
	
	<!-- 관리자 화면 -->
	<!-- 관리자 화면 -->
	<delete id="removeAdminGoods" parameterType="Goods">
		/* 상품 삭제 */
		DELETE
		FROM
			tb_g_goods
		WHERE
			goods_code = #{goodsCode};
	</delete>
	
	<select id="getAdminGoodsList" resultType="Map">
		/* 상품 리스트 조회 */
		SELECT
			gg.goods_code AS goodsCode,
			gs.goods_top_category_name AS goodsTopCategoryName,
			gs.goods_sub_category_name AS goodsSubCategoryName,
			gg.goods_name AS goodsName,
			gg.goods_price AS goodsPrice,
			gg.user_id_code AS userIdCode,
			gg.goods_reg_date AS goodsRegDate
		FROM
			tb_g_goods AS gg
			INNER JOIN
			tb_g_goods_sub_category AS gs
			ON
			gg.goods_sub_category_code = gs.goods_sub_category_code;
	</select>
	
	<delete id="removeGoodsSubCategory" parameterType="GoodsSubCategory">
		/* 상품 하위 카테고리 삭제 */
		DELETE
		FROM
			tb_g_goods_sub_category
		WHERE
			goods_sub_category_code = #{goodsSubCategoryCode};
	</delete>
	
	<delete id="removeGoodsTopCategory" parameterType="GoodsTopCategory">
		/* 상품 상위 카테고리 삭제 */
		
	</delete>
	
	<select id="getGoodsSubCategoryList" resultType="GoodsSubCategory">
		/* 상품 하위 카테고리 리스트 조회 */
		SELECT
			g.goods_sub_category_code 		AS goodsSubCategoryCode,
			g.goods_top_category_code 		AS goodsTopCategoryCode,
			g.goods_top_category_name 		AS goodsTopCategoryName,
			g.goods_sub_category_name		AS goodsSubCategoryName,
			g.user_id_code					AS userIdCode,
			g.goods_sub_category_reg_date	AS goodsSubCategoryRegDate
		FROM
			tb_g_goods_sub_category AS g;
	</select>
	
	<select id="getGoodsTopCategoryList" resultType="GoodsTopCategory">
		/* 상품 상위 카테고리 리스트 조회 */
		SELECT
			g.goods_top_category_code 		AS goodsTopCategoryCode,
			g.goods_top_category_name 		AS goodsTopCategoryName,
			g.user_id_code 					AS userIdCode,
			g.goods_top_category_reg_date	AS goodsTopCategoryRegDate
		FROM
			tb_g_goods_top_category AS g;
	</select>
	
	<insert id="addGoodsSubCategory" parameterType="GoodsAll">
		/* 상품 하위 카테고리 등록 */
		INSERT INTO tb_g_goods_sub_category
		(
			goods_sub_category_code,
			goods_top_category_code,
			goods_top_category_name,
			goods_sub_category_name,
			user_id_code,
			goods_sub_category_reg_date
		) VALUES (
			(SELECT
				CONCAT('sub_category_',MAX(CAST(SUBSTRING(g.goods_sub_category_code,14) AS UNSIGNED))+1)
			 FROM
				tb_g_goods_sub_category AS g)
			,(
			SELECT
				g.goods_top_category_code
			FROM
				tb_g_goods_top_category AS g
			WHERE
				g.goods_top_category_name = #{goodsTopCategoryName}
			)
			,#{goodsTopCategoryName}
			,#{goodsSubCategoryName}
			,#{userIdCode}
			,CURDATE()
		);
	</insert>
	
	<insert id="addGoodsTopCategory" parameterType="GoodsAll">
		/* 상품 상위 카테고리 등록 */
		INSERT INTO tb_g_goods_top_category
		(
			goods_top_category_code,
			goods_top_category_name,
			user_id_code,
			goods_top_category_reg_date
		) VALUES (
			(SELECT
				CONCAT('top_category_',MAX(CAST(SUBSTRING(g.goods_top_category_code,14) AS UNSIGNED))+1)
			 FROM
				tb_g_goods_top_category AS g)
			,#{goodsTopCategoryName}
			,#{userIdCode}
			,CURDATE()
		);
	</insert>
	
</mapper> 