<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks43team01.mapper.ProfitAndLossMapper">

	<resultMap type="Goods" id="GoodsResultMap" >
			<association property="goodsBasicInfo" javaType="GoodsBasicInfo">
				<id 	column="goods_sub_category_code"	property="goodsSubCategoryCode"/>
				<result column="goods_description" 			property="goodsDescription"/>
				<result column="goods_name" 				property="goodsName"/>
				<result column="user_id_code" 				property="userIdCode"/>
				<result column="goods_basic_info_reg_date" 	property="goodsBasicInfoRegDate"/>
				<result column="goods_basic_info_code" 		property="goodsBasicInfoCode"/>
			</association>
			<association property="goodsImage" javaType="GoodsImage">
				<id 	column="goods_image_code"		property="goodsImageCode"/>
				<result column="goods_image_reg" 		property="goodsImageReg"/>
				<result column="user_id_code" 			property="userIdCode"/>
				<result column="goods_image_reg_date" 	property="goodsImageRegDate"/>
			</association>
			<association property="goodsPriceSetting" javaType="GoodsPriceSetting">
				<id 	column="goods_price_setting_code"			property="goodsPriceSettingCode"/>
				<result column="goods_price" 						property="goodsPrice"/>
				<result column="goods_working_period" 				property="goodsWorkingPeriod"/>
				<result column="goods_modified_possibility_count"	property="goodsModifiedPossibilityCount"/>
				<result column="user_id_code" 						property="userIdCode"/>
				<result column="goods_price_setting_reg_date" 		property="goodsPriceSettingRegDate"/>
			</association>
			<association property="goodsReg" javaType="GoodsReg">
				<id 	column="goods_code"					property="goodsCode"/>
				<result column="goods_basic_info_code" 		property="goodsBasicInfoCode"/>
				<result column="goods_price_setting_code" 	property="goodsPriceSettingCode"/>
				<result column="goods_image_code" 			property="goodsImageCode"/>
				<result column="goods_requests_code" 		property="goodsRequestsCode"/>
				<result column="user_id_code" 				property="userIdCode"/>
				<result column="goods_reg_date" 			property="goodsRegDate"/>
			</association>
			<association property="goodsRequest" javaType="GoodsRequest">
				<id 	column="goods_requests_code"			property="goodsRequestsCode"/>
				<result column="goods_pre_request" 				property="goodsPreRequest"/>
				<result column="goods_pre_requests_answer_type" property="goodsPreRequestsAnswerType"/>
				<result column="user_id_code" 					property="userIdCode"/>
				<result column="goods_requests_reg_date" 		property="goodsRequestsRegDate"/>
			</association>
			<association property="goodsSubCategory" javaType="GoodsSubCategory">
				<id 	column="goods_sub_category_code"		property="goodsSubCategoryCode"/>
				<result column="goods_top_category_code" 		property="goodsTopCategoryCode"/>
				<result column="goods_top_category_name" 		property="goodsTopCategoryName"/>
				<result column="goods_sub_category_name" 		property="goodsSubCategoryName"/>
				<result column="user_id_code" 					property="userIdCode"/>
				<result column="goods_sub_category_reg_date"	property="goodsSubCategoryRegDate"/>
			</association>
			<association property="goodsTopCategory" javaType="GoodsTopCategory">
				<id 	column="goods_top_category_code"		property="goodsTopCategoryCode"/>
				<result column="goods_top_category_name" 		property="goodsTopCategoryName"/>
				<result column="user_id_code" 					property="userIdCode"/>
				<result column="goods_top_category_reg_date"	property="goodsTopCategoryRegDate"/>
			</association>
	</resultMap>
		
	<select id="getUserGoodsList" resultType="Goods">
		/*상품리스트조회 */
		select
			userIdCode
			,goodsName
			,goodsDescription
		from
			tb_g_goods_basic_info;
		
	</select>
</mapper> 