<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ks43team01.mapper.GoodsReg">

		<resultMap type="ks43team01.dto.Goods" id="Goods">
		<id 	column="goods_code"			property="goodsCode"/>
		<result column="goods_sub_category_code" 		property="goodsSubCategoryCode"/>
		<result column="goods_name" 			property="goodsName"/>
		<result column="goods_description" 			property="goodsDescription"/>
		<result column="goods_price" 			property="goodsPrice"/>
		<result column="goods_working_period" 		property="goodsWorkingPeriod"/>
		<result column="goods_modified_possibility_count"	property="goodsModifiedPossibilityCount"/>
		<result column="goods_image_reg" 			property="goodsImageReg"/>
		<result column="goods_pre_requests_answer_type" 	property="goodsPreRequestsAnswerType"/>
		<result column="goods_pre_request" 			property="goodsPreRequest"/>
		<result column="user_id_code" 			property="userIdCode"/>
		<result column="goods_reg_date" 			property="goodsRegDate"/>
	</resultMap>
	  		
	  <select id="">
	 	
	  </select>
  
  </mapper>

