<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks43team01.mapper.OrderCartMapper">

<resultMap type="ks43team01.dto.Goods" id="Goods">
	<id 	column="goods_code"			property="goodsCode"/>
	<result column="goods_sub_category_code" 		property="goodsSubCategoryCode"/>
	<result column="goods_name" 			property="goodsName"/>
	<result column="goods_description" 			property="goodsDescription"/>
	<result column="goods_price" 			property="goodsPrice"/>
	<result column="goods_working_period" 		property="goodsWorkingPeriod"/>
	<result column="goods_modified_possibility_count"	property="goodsModifiedPossibilityCount"/>
	<result column="goods_image_reg" 			property="goodsImageReg"/>
	<result column="goods_pre_requests_answer_type" 	property="goodsPreRequestsAnswerType"/>
	<result column="goods_pre_request" 			property="goodsPreRequest"/>
	<result column="user_id_code" 			property="userIdCode"/>
	<result column="goods_reg_date" 			property="goodsRegDate"/>
</resultMap>
	  		
	<resultMap type="OrderCart" id="OrderCartResultMap">
		<id column="order_cart_code"         property="orderCartCode"/>
		<result column="user_id_code"        property="userIdCode"/>
		<result column="seller_id_code"      property="sellerIdCode"/>
		<result column="seller_phone_number" property="sellerPhoneNumber"/>
		<result column="goods_img" property="goodsImg"/>
		<result column="goods_price" property="goodsPrice"/>
		<result column="goods_code" property="goodsCode"/>
		<result column="goods_name" property="goodsName"/>
		<result column="goods_details" property="goodsDetails"/>
	</resultMap>
	
	<select id="getOrderCartList" resultType="OrderCart">
				/* 사용자화면 장바구니 리스트 출력 */
		SELECT
			goc.order_cart_code as orderCartCode
			,goc.user_id_code as userIdCode
			,goc.seller_id_code as sellerIdCode
			,goc.seller_phone_number as sellerPhoneNumber
			,goc.goods_img as goodsImg
			,goc.goods_price as goodsPrice
			,goc.goods_code as goodsCode
			,goc.goods_name as goodsName
			,goc.goods_details as goodsDetails
		FROM
			 tb_g_order_cart as goc
		WHERE 
			goc.user_id_code = #{userIdCode};
	</select>
	<delete id="removeOrderCart" parameterType="OrderCart">
		/* 사용자화면 장바구니 상품삭제하기*/
		DELETE  
		FROM 
			tb_g_order_cart 
		WHERE 
			order_cart_code = #{ocCode};
	</delete>
	
		<delete id="removeAllOrderCart" parameterType="OrderCart">
		/* 사용자화면 장바구니비우기*/
		DELETE 
		FROM 
			tb_g_order_cart 
		WHERE
			user_id_code =#{userIdCode}
	</delete>
</mapper> 