<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks43team01.mapper.ProfitAndLossMapper">

	<resultMap type="ProfitAndLoss" id="ProfitAndLossResultMap" >
			<association property="spending" javaType="Spending">
				<id 	column="spending_group_code"	property="spendingGroupCode"/>
				<result column="account_subject_code" 	property="accountSubjectCode"/>
				<result column="spending_year" 			property="spendingYear"/>
				<result column="spending_month" 		property="spendingMonth"/>
				<result column="account_name" 			property="accountName"/>
				<result column="spending_date" 			property="spendingDate"/>
				<result column="spending_amount" 		property="spendingAmount"/>
				<result column="spending_info" 			property="spendingInfo"/>
				<result column="user_id_code" 			property="userIdCode"/>
				<result column="spending_reg_date"		property="spendingRegDate"/>
			</association>
			<association property="sales" javaType="Sales">
				<id 	column="sales_group_code"		property="salesGroupCode"/>
				<result column="account_subject_code" 	property="accountSubjectCode"/>
				<result column="sales_year" 			property="salesYear"/>
				<result column="sales_month" 			property="salesMonth"/>
				<result column="account_name" 			property="accountName"/>
				<result column="sales_date" 			property="salesDate"/>
				<result column="sales_amount" 			property="salesAmount"/>
				<result column="sales_info" 			property="salesInfo"/>
				<result column="user_id_code" 			property="userIdCode"/>
				<result column="sales_reg_date"			property="salesRegDate"/>
			</association>
			<association property="account" javaType="account">
				<id 	column="account_subject_code"		property="accountSubjectCode"/>
				<result column="account_name" 				property="accountName"/>
				<result column="profit_loss_classification"	property="profitLossClassification"/>
				<result column="account_use" 				property="accountUse"/>
				<result column="account_amend" 				property="accountAmend"/>
				<result column="account_reg_date" 			property="accountRegDate"/>
				<result column="user_id_code" 				property="userIdCode"/>
				<result column="account_year" 				property="accountYear"/>
			</association>
	</resultMap>
	
	<delete id="removeSpending" parameterType="Spending">
		DELETE
		FROM
			tb_gr_group_monthly_spending
		WHERE
			spending_group_code = #{spendingGroupCode};
	</delete>	
	
	<insert id="addSpending" parameterType="ProfitAndLoss">
		/* 지출 내역 등록 */
		INSERT INTO tb_gr_group_monthly_spending
		(
			 spending_group_code
			,account_subject_code
			,spending_year
			,spending_month
			,account_name
			,spending_date
			,spending_amount
			,spending_info
			,user_id_code
			,spending_reg_date
		) VALUES (
			(
			SELECT 
				CONCAT(date_format(NOW(),'%Y%m%d%H%i%s'),'_',a.account_subject_code)
			FROM
				tb_a_account_profit_and_loss_management AS a
			WHERE
				a.account_name = #{accountName}
			)
			,(
			SELECT
				a.account_subject_code
			FROM
				tb_a_account_profit_and_loss_management AS a
			WHERE
				a.account_name = #{accountName}
			)
			,YEAR(#{spendingDate})
			,MONTH(#{spendingDate})
			,#{accountName}
			,#{spendingDate}
			,#{spendingAmount}
			,#{spendingInfo}
			,#{userIdCode}
			,CURDATE()
		);
	</insert>

	<insert id="addSales" parameterType="ProfitAndLoss">
		/* 매출 내역 등록 */
		INSERT INTO tb_gr_group_monthly_sales
		(
			 sales_group_code
			,account_subject_code
			,sales_year
			,sales_month
			,account_name
			,sales_date
			,sales_amount
			,sales_info
			,user_id_code
			,sales_reg_date
		) VALUES (
			(
			SELECT 
				CONCAT(date_format(NOW(),'%Y%m%d%H%i%s'),'_',a.account_subject_code)
			FROM
				tb_a_account_profit_and_loss_management AS a
			WHERE
				a.account_name = #{accountName}
			)
			,(
			SELECT
				a.account_subject_code
			FROM
				tb_a_account_profit_and_loss_management AS a
			WHERE
				a.account_name = #{accountName}
			)
			,YEAR(#{salesDate})
			,MONTH(#{salesDate})
			,#{accountName}
			,#{salesDate}
			,#{salesAmount}
			,#{salesInfo}
			,#{userIdCode}
			,CURDATE()
		);
	</insert>
	
	<insert id="addAccount" parameterType="ProfitAndLoss">
		/* 계정과목 등록 */
		INSERT INTO tb_a_account_profit_and_loss_management
		(
			 account_subject_code
			,account_name
			,profit_loss_classification
			,account_use
			,account_amend
			,account_reg_date
			,user_id_code
			,account_year
		) VALUES (
			 #{accountSubjectCode}
			,#{accountName}
			,#{profitLossClassification}
			,#{accountUse}
			,#{accountAmend}
			,CURDATE()
			,#{userIdCode}
			,#{accountYear}
		);
	</insert>
	
	<select id="getSpendingList" resultType="Spending">
		/* 지출 내역 리스트 조회 */
		SELECT
			spending_group_code AS spendingGroupCode,
			account_name 		AS accountName,
			spending_date 		AS spendingDate,
			spending_amount 	AS spendingAmount,
			spending_info 		AS spendingInfo,
			user_id_code 		AS userIdCode,
			spending_reg_date	AS spendingRegDate
		FROM
			tb_gr_group_monthly_spending;
	</select>
	
	<select id="getSalesList" resultType="Sales">
		/* 매출 내역 리스트 조회 */
		SELECT
			gr.sales_group_code AS salesGroupCode,
			gr.account_name 	AS accountName,
			gr.sales_date 		AS salesDate,
			gr.sales_amount 	AS salesAmount,
			gr.sales_info 		AS salesInfo,
			gr.user_id_code 	AS userIdCode,
			gr.sales_reg_date	AS salesRegDate
		FROM
			tb_gr_group_monthly_sales AS gr;
	</select>
	
	<select id="getAccountList" resultType="Account">
		/* 손익 계정과목 리스트 조회 */
		SELECT
			a.account_subject_code AS accountSubjectCode,
			a.account_name AS accountName,
			a.profit_loss_classification AS profitLossClassification,
			a.account_use AS accountUse,
			a.account_amend AS accountAmend,
			a.account_reg_date AS accountRegDate,
			a.user_id_code AS userIdCode,
			a.account_year AS accountYear
		FROM
			tb_a_account_profit_and_loss_management AS a;
	</select>

</mapper> 