<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper	namespace="ks43team01.mapper.UserMapper">

	  <resultMap type="ks43team01.dto.User" id="userResultMap">
	  		<id column="user_id_code" property="userId"/>
	  		<result column="user_pw" property="userPw"/>
	  		<result column="user_name" property="userName"/>
	  		<result column="user_contact" property="userContact"/>
	  		<result column="user_email" property="userEmail"/>
	  		<result column="user_withdraw_status" property="userStatus"/>
	  		<result column="user_activity_area" property="userArea"/>
	  		<result column="user_retention_Points" property="userPoint"/>
	  		<result column="user_rating" property="userRating"/>
	  		<result column="user_reg_date" property="userRreDate"/>
	  		<result column="user_update_date" property="userUpDate"/>
	  		<result column="level_num_code" property="userLevel"/>
  		</resultMap>
	  		<resultMap type="ks43team01.dto.goodsTopCategory" id="goodsTopCategoryResultMap">
	  			<id column="goods_top_category_name" property="goodsTopCategoryName"/>
	  			<result column="goods_top_category_code" property="goodsTopCategoryCode"/>
	  			<result column="user_id_code " property="userIdCode"/>
	  			<result column="goods_top_category_reg_date" property="goodsTopCategoryRegDate"/>
	  		</resultMap>
	  		
	  		<resultMap type="ks43team01.dto.goodsSubCategory" id="goodsSubCategoryResultMap">
	  			<id column="goods_sub_category_code" property="goodsSubCategoryCode"/>
	  			<result column="goods_sub_category_name" property="goodsSubCategoryName"/>
	  			<result column="goods_sub_category_reg_date " property="goodsSubCategoryRegDate"/>
	  			<result column="goods_top_category_code" property="goodsTopCategoryCode"/>
	  			<result column="goods_top_category_name" property="goodsTopCategoryName"/>
	  		</resultMap>
	  		
	  		<resultMap type="ks43team01.dto.SellerBusiness" id="SellerBusinessResultMap">
	  			<id column="expert_business_code" property="expertBusinessCode"/>
	  			<result column="user_id_code" property="userIdCode"/>
	  			<result column="expert_business_field " property="expertBusinessField"/>
	  			<result column="expert_detailed_business" property="expertDetailedBusiness"/>
	  			<result column="expert_retention_technology" property="expertRetentionTechnology"/>
	  			<result column="expert_introduction" property="expertIntroduction"/>
	  			<result column="expert_reg_date" property="expertRegDate"/>
	  			<result column="expert_update_date" property="expertUpdateDate"/>
	  		</resultMap>		
	  		
	  		<resultMap type="ks43team01.dto.SellerEducation" id="SellerEducationResultMap">
  	  			<id column="expert_business_code" property="expertFinalEducationCode"/>
  	  			<result column="expert_final_education_code" property="userIdCode"/>
  	  			<result column="user_id_code" property="expertSchoolName"/>
  	  			<result column="expert_school_name" property="expertMajor"/>
  	  			<result column="expert_major" property="expertFinalState"/>
  	  			<result column="expert_final_state" property="expertAcademicDocument"/>
  	  			<result column="expert_academic_document" property="expertRegDate"/>
  	  			<result column="expert_update_date" property="expertUpdateDate"/>
  	  	 	</resultMap>
  
  	<insert id="addSellerEducation" parameterType="ks43team01.dto.SellerEducation">
  		/*판매적 학력 입력*/  		
  		INSERT into tb_u_expert_education
		(	expert_final_education_code 
			,user_id_code
			,expert_school_name
			,expert_major
			,expert_final_state 
			,expert_academic_document
			,expert_reg_date
			,expert_update_date
			)values(
			'자동코드생성'
			,#{userIdCode}
			,#{expertSchoolName}
			,#{expertMajor}
			,#{expertFinalState}
			,#{expertAcademicDocument}
			,CURDATE()
			,CURDATE()
		);
	</insert>
	
	<insert id="addSellerCareer" parameterType="ks43team01.dto.SellerBusiness">
  		/*판매적 근무사항 입력*/  		
  		INSERT into tb_u_expert_career
		(	expert_career_details_code 
			,user_id_code
			,expert_company_name
			,expert_work_department
			,expert_position 
			,expert_work_place
			,expert_work_date
			,expert_etc
			,expert_stay_use
			,expert_career_proof_matters_attachments
			)values(
			'자동코드생성'
			,#{userIdCode}
			,#{expertCompanyName}
			,#{expertWorkDepartment}
			,#{expertPosition}
			,#{expertWorkPlace}
			,#{expertWorkDate}
			,#{expertEtc}
			,#{expertStayUse}
			,#{expertCareerProofMattersAttachments}
		);
	</insert>
  	
  	<insert id="addUserInsert" parameterType="ks43team01.dto.User">
  		/* 구매자회원가입*/
  		INSERT into tb_u_all_user
		(	user_id_code 
			,user_pw 
			,user_name
			,user_contact 
			,user_email 
			,user_withdraw_status 
			,user_activity_area 
			,user_retention_Points 
			,user_rating 
			,user_reg_date 
			,user_update_date
			,level_num_code
			)values(
			#{userId}
			,#{userPw}
			,#{userName}
			,#{userContact}
			,#{userEmail}
			,'N'
			,#{userArea}
			,5000
			,'뉴비'
			,CURDATE()
			,CURDATE()
			,'3'
		);
  	</insert>
  	
  	<select id="getAdminUserList" resultType="User">
  		/*회원모두보여주기*/
  		SELECT
			user_id_code as userId
			,user_pw as userPw
			,user_name as userName
			,user_contact as userContact
			,user_email as userEmail
			,user_withdraw_status as userStatus
			,user_activity_area as userArea
			,user_retention_Points as userPoint
			,user_rating as userRating
			,user_reg_date as userRreDate
			,user_update_date as userUpDate
			,level_num_code as userLevel
		from
			tb_u_all_user
  	</select>
    
    <select id="getTopCategory" resultType="ks43team01.dto.goodsTopCategory">
		
			/*판매가 비지니스 탑카테고리*/
		SELECT 
			g.goods_top_category_name as goodsTopCategoryName
			,g.goods_top_category_code as goodsTopCategoryCode
			,g.user_id_code as userIdocde
			,g.goods_top_category_reg_date as goodsTopCategoryRegDate
		FROM 
			tb_g_goods_top_category as g
    
    </select>
    
    <select id="getSubCategory" parameterType="String" resultMap="goodsSubCategoryResultMap">
    	select 
			g.goods_sub_category_code 
			,g.goods_sub_category_name 
			,g.goods_sub_category_reg_date 
			,g.goods_top_category_code 
			,g.goods_top_category_name 
		from 
			tb_g_goods_sub_category as g
		where
			g.goods_top_category_code = #{topCategory};
    </select>
    
    <select id="getUserInfoById" parameterType="String" resultMap="userResultMap">
	  		/*로그인을 위한 정보조회*/
	  	SELECT 
			u.user_id_code
			,u.user_pw 
			,u.user_name 
			,u.user_contact 
			,u.user_email 
			,u.user_activity_area 
			,u.user_retention_Points 
			,u.user_rating 
			,u.level_num_code 
		FROM 
			tb_u_all_user as u
		WHERE 
			u.user_id_code = #{userId};
  	</select>	
  	
  	<insert id="addSellerBusiness" parameterType="ks43team01.dto.SellerBusiness">
  		/*판매적 비지니스 입력*/  		
  		INSERT into tb_u_expert_business_filed
		(	expert_business_code 
			,user_id_code
			,expert_business_field
			,expert_detailed_business
			,expert_retention_technology 
			,expert_introduction
			,expert_reg_date
			,expert_update_date
			)values(
			'자동코드생성'
			,#{userIdCode}
			,#{expertBusinessField}
			,#{expertDetailedBusiness}
			,#{expertRetentionTechnology}
			,#{expertIntroduction}
			,CURDATE()
			,CURDATE()
		);
	</insert>
	
	
				
	

  	
  </mapper>