<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks43team01.mapper.PointMapper">
	<resultMap type="Point" id="PointStandardReusltMap">
			<id 	column="point_details_code"	 					property="pointDetailsCode"/>
			<result column="user_id_code" 							property="userIdCode"/>
			<result column="point_standard_code" 					property="pointStandardCode"/>
			<result column="point_standard_details_code" 			property="pointStandardDetailsCode"/>
			<result column="point_amount"				   		 	property="pointAmount"/>
			<result column="user_email" 							property="userEmail"/>
			<result column="point_history_reg_date" 				property="pointHistoryRegDate"/>
		<association property="pointStandardDetails" javaType="PointStandardDetails">
			<id 	column="point_standard_details_code"	 		property="pointStandardDetailsCode"/>
			<result column="point_standard_code" 					property="pointStandardCode"/>
			<result column="point_standard_details_name" 			property="pointStandardDetailsName"/>
			<result column="user_id_code" 							property="userIdCode"/>
			<result column="point_standard_details_reg_date" 		property="pointStandardDetailsRegDate"/>
		</association>
		<association property="pointStandard" javaType="PointStandard">
			<id 	column="point_standard_code"	 				property="pointStandardCode"/>
			<result column="point_standard_name" 					property="pointStandardName"/>
			<result column="user_id_code" 							property="userIdCode"/>
			<result column="point_standard_reg_date" 				property="pointStandardRegDate"/>
		</association>
		<association property="pointSaveByGrade" javaType="PointSaveByGrade">
			<id 	column="point_buy_save_standard_grade_code"	 	property="pointBuySaveStandardGradeCode"/>
			<result column="grade_user_code" 						property="gradeUserCode"/>
			<result column="point_standard_code" 					property="pointStandardCode"/>
			<result column="point_save_by_grade_percent" 			property="pointSaveByGradePercent"/>
			<result column="point_save_by_grade_unit" 				property="pointSaveByGradeUnit"/>
		</association>
		<association property="user" javaType="User">
			<id column="user_id_code" 								property="userId"/>
	  		<result column="user_pw" 								property="userPw"/>
	  		<result column="user_name"								property="userName"/>
	  		<result column="user_contact" 							property="userContact"/>
	  		<result column="user_email" 							property="userEmail"/>
	  		<result column="user_withdraw_status" 					property="userStatus"/>
	  		<result column="user_activity_area" 					property="userArea"/>
	  		<result column="user_retention_Points" 					property="userPoint"/>
	  		<result column="user_rating"							property="userRating"/>
	  		<result column="user_reg_date" 							property="userRreDate"/>
	  		<result column="user_update_date"					    property="userUpDate"/>
	  		<result column="level_num_code" 						property="userLevel"/>
		</association>
	</resultMap>
	
	
	
	<select id="getPointList"  resultType="Map">
		SELECT 
		   pa.point_history_reg_date			AS pointHistoryRegDate
		  ,pa.user_id_code						AS userIdCode
		  ,ps.point_standard_name				AS pointStandardName
		  ,pd.point_standard_details_name		AS pointStandardDetailsName
		  ,pa.point_amount						AS pointAmount
		FROM 
			tb_pt_point_standard AS ps
			INNER JOIN 
			tb_pt_point_standard_details AS pd
			ON 
			ps.point_standard_code = pd.point_standard_code
			INNER JOIN 
			tb_pt_point_accumulation_details AS pa 
			ON 
			pd.point_standard_details_code = pa.point_standard_details_code;
	</select>
</mapper>