<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{userpage/layout/userdefault}">
<!------ Include the above in your HEAD tag ---------->
<div layout:fragment="content">
	<script type="text/javascript" th:src="@{/Doc/js/jquery-3.6.0.min.js}"></script>
	<style>
.infoContainer {
	margin: 2% 12% 0 12%;
	height: 1000px;
}

.topWrap {
	height: 500px;
}

.topLeftWrap {
	float: left;
	width: 50%;
	height: 500px;
}

.topRightWrap {
	float: right;
	width: 45%;
	height: 500px;
	padding: 20px;
}

#leftImg {
	width: 100%;
	height: 480px;
	padding: 20px;
	margin: 0 auto;
}
</style>
	<!-- Hero End -->
	<!-- About Details Start -->

	<div class="infoContainer">
		<div class="topWrap">
			<!-- <table>
					<thead>
						<tr>
							<th>상품코드</th>
							<th hidden="userId">판매자</th>
							<th>상품가격</th>
							<th>수정</th>
							<th>삭제</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${goods.goodsCode}"></td>
							<td th:text="${goods.userIdCode}" hidden="userId"></td>
							<td th:text="${goods.goodsPrice}"></td>
							<td>
							</td>
							<td>
								<button type="button" class="btn btn-danger removeUserGoodsModalBtn" data-toggle="modal" data-target="#removeUserGoodsModal"
								th:if="${session.UID == goods.userIdCode}" th:value="${goods.goodsCode}">삭제</button>
							</td>
						</tr>
					</tbody>
				</table> -->
			<div class="topLeftWrap">
				<div class="single-course mb-40">
					<!-- db에서 저장된 사진 불러오기 -->
					<div th:if="${not #lists.isEmpty(goods.file)}"
						th:each="g : ${goods.file}">
						<div class="goods-image" th:if="${g.fileMainImage eq 'Y'}">
							<img id="leftImg"
								th:src="@{'/' + ${#strings.replace(g.fileLocation,'\','/')}}"
								alt="..." />
						</div>
						<div class="goods_gallery" th:unless="${g.fileMainImage eq 'Y'}">
							<a><img
								th:src="@{'/' + ${#strings.replace(g.fileLocation,'\','/')}}"
								alt="..." /></a>
						</div>
						<!-- db에서 저장된 사진 불러오기 -->
					</div>
					<div th:unless="${not #lists.isEmpty(goods.file)}">
						<!-- 저장된 사진 없음 -->
						<a><img th:src="@{/images/notImage.jfif}" alt="..." /></a>
					</div>
				</div>
			</div>




			<div class="topRightWrap">
				<!-- <a th:href="@{/userpage/goods/modifyGoodsInfo(goodsCode=${goods.goodsCode})}">
					<button type="submit" class="btn" id="swal-modify-goods" th:if="${session.UID == goods.userIdCode}">수정</button>
				</a> -->

				<div class="topRightHead">
					<h4>잘 해 드릴게 ~~</h4>
					<h4 style="text-align: right; width: 100%;">20000원</h4>
				</div>
					<div class="topRightMid">
						<div>
							<h4>작업기간</h4>
						</div>
						<div>
							<h4>수정횟수</h4>
						</div>
						<div>
							<button>구매하기</button>
						</div>
					</div>










		<!-- Modal -->
		<div class="modal fade" id="removeUserGoodsModal" tabindex="-1"
			role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">상품 삭제</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">정말 상품을 삭제하시겠습니까?</div>
					<div class="modal-footer">
						<form
							th:action="@{/userpage/goods/removeUserGoods(goodsCode=${goods.goodsCode})}"
							method="get">
							<input type="hidden" name="goodsCode" id="removeUserGoodsCode">
							<button type="button" class="btn btn-primary"
								data-dismiss="modal">취소</button>
							<button type="submit" class="btn btn-danger">삭제</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
</div>
</div>

		<script type="text/javascript">
			var $swalModifyGoods = $('#swal-modify-goods');
			$('.btn').on('click', function() {
				$swalModifyGoods.val($(this).val());
			})
		</script>

		<script type="text/javascript">
			var $removeUserGoodsCode = $('#removeUserGoodsCode');
			$('.removeUserGoodsModalBtn').on('click', function() {
				$removeUserGoodsCode.val($(this).val());
			})
		</script>
	</div>
	<div th:replace="userpage/fragments/review :: reviewFragment"></div>
</div>
</html>