<!DOCTYPE html>
<html class="no-js" lang="zxx" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{userpage/layout/userdefault}">
<!------ Include the above in your HEAD tag ---------->
<div layout:fragment="content">
		<style>
.card-body{
	padding: 7.25rem;
	padding-bottom: 10px;
}

.card .card-footer {
	margin: 0px;
	padding: 7px;
}

.btn.btn-primary {
	background-color: #f3f5f700;
	border-color: #f3f5f700;
	color: #212529;
}

.btn.btn-primary:hover {
	background-color: #f3f5f700;
	border-color: #f3f5f700;
}

.replyContent {
	font-size: 20px;
	margin: 10px;
}
.rating {
    display: inline-block;
    direction: rtl;
    border:none;
	}
	.rating {
	    text-align: right;
	}
	.rating input[type=radio]{
	    display: none;
	}
	.rating label{
	    font-size: 1.5em;
	    color: transparent;
	    text-shadow: 0 0 0 #b1b1b1;
	    margin: -2px;
	}
	.rating .yellowstar{
	    font-size: 1.5em;
	    color: transparent;
	    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
	    margin: -2px;
	    float: left;
	}
</style>
        <div class="slider-area">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>Review</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!-- About Details Start -->
				
				
	<div class="row">
		<div class="col-12">
		<div>
		
			<form>
				<table>
					<thead>
						<tr>
							<th>상품코드</th>
							<th>상품가격</th>
							<th>삭제</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${goods.goodsCode}"></td>
							<td th:text="${goods.goodsPrice}"></td>
							<td>
							
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
		<div>
				<a th:href="@{/userpage/goods/removeUserGoods(goodsCode=${goods.goodsCode})}">
					<button class="btn btn-danger removeUserGoodsModalBtn" data-toggle="modal" data-target="#removeUserGoodsModal"
					th:if="${session.UID == goods.userIdCode}" th:value="${goods.goodsCode}">삭제</button>
				</a>
		
		</div>
			
			 <!-- Modal -->
	         <div class="modal fade" id="removeUserGoodsModal" tabindex="-1" role="dialog">
	               <div class="modal-dialog" role="document">
	                   <div class="modal-content">
	                     <div class="modal-header">
	                        <h5 class="modal-title">상품 삭제</h5>
	                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                           <span aria-hidden="true">&times;</span>
	                        </button>
	                     </div>
	                     <div class="modal-body">
	                        	정말 상품을 삭제하시겠습니까?
	                     </div>
	                     <div class="modal-footer">
                           <form action="/userpage/goods/removeUserGoods" method="get">
								<input type="hidden" name="goodsCode" id="removeUserGoodsCode">
	                       		<button type="button" class="btn btn-primary" data-dismiss="modal">취소</button>
								<button type="submit" class="btn btn-danger">삭제</button>
                           </form>
	                     </div>
	                  </div>
	               </div>
	         </div>
               <!-- Modal -->
            
            <script type="text/javascript">
            	var $removeUserGoodsCode = $('#removeUserGoodsCode');
            	$('.removeUserGoodsModalBtn').on('click', function() {
            	  $removeUserGoodsCode.val($(this).val());            	  
            	})
            </script>
			
			<!-- <div class="card">
					<div class="card-body">
							<input type="hidden" th:value="${reviewContentsReg.reviewCode}">
							<div class="replyForm" style="display: flex;">
								<div class="rating" id="viewScore" data-rate="3">
										<p class="replyContent" style="padding-right: 30px;" >별점</p>
											<input type="radio" name="reviewStarScore" value="5" id="rate1"><label class="yellowstar" for="rate1" th:if="${reviewContentsReg.reviewStarScore} == 1">★</label>
											<input type="radio" name="reviewStarScore" value="4" id="rate2"><label class="yellowstar" for="rate2" th:if="${reviewContentsReg.reviewStarScore} == 2">★★</label>
											<input type="radio" name="reviewStarScore" value="3" id="rate3"><label class="yellowstar" for="rate3" th:if="${reviewContentsReg.reviewStarScore} == 3">★★★</label>
											<input type="radio" name="reviewStarScore" value="2" id="rate4"><label class="yellowstar" for="rate4" th:if="${reviewContentsReg.reviewStarScore} == 4">★★★★</label>
											<input type="radio" name="reviewStarScore" value="1" id="rate5"><label class="yellowstar" for="rate5" th:if="${reviewContentsReg.reviewStarScore} == 5">★★★★★</label>
								</div>
							</div>
								
							<div class="replyForm" style="display: flex;">
								<p class="replyContent">작성일</p>
								<p class="replyContent" th:text="${reviewContentsReg.reviewRegDate}"
									style="padding-left: 87px;"></p>
							</div>
							<div class="card-footer" style="padding: 0px;"></div>
								<p class="replyContent" >작성자</p>
								<p class="replyContent" th:text="${reviewContentsReg.userIdCode}"></p>
							</div>
							<div class="card-footer" style="padding: 0px;"></div>
							<div>
								<a style="font-size: 15px; margin: 150px" 
									th:text="${reviewContentsReg.reviewContent}"></a>
							</div>
							<div class="review-bottom"
								style="display: flex; justify-content: flex-end; padding: 0px">
									<a th:href="@{/userpage/reviewUser/modifyReview(reviewCode=${reviewContentsReg.reviewCode})}">
									<button type="submit" class="btn" id="swal-modify-review"
										th:if="${session.UID == reviewContentsReg.userIdCode}">수정</button>
									</a>
									<a th:href="@{/userpage/reviewUser/removeReview(reviewCode=${reviewContentsReg.reviewCode})}">
									<button class="btn" id="swal-delete-review"
										th:if="${session.UID == reviewContentsReg.userIdCode}">삭제</button>
								</a>
							</div>
							
							<div class="review-bottom"
								style="display: flex; justify-content: flex-end; padding: 0px">
								
							</div>
					<div class="card-footer"></div>
				
					<script type="text/javascript">
						var $swalDeleteReview = $('#swal-delete-review');
		            	$('.btn').on('click', function() {
		            	  $swalDeleteReview.val($(this).val());            	  
		            	})
					</script>
					<script type="text/javascript">
						var $swalModifyReview = $('#swal-modify-review');
		            	$('.btn').on('click', function() {
		            	  $swalModifyReview.val($(this).val());            	  
		            	})
					</script>
					
            
              </div>
           </div> -->
        </div>
   	</div>

</html>

