<!DOCTYPE html>
<html class="no-js" lang="zxx" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{userpage/layout/userdefault}">	 

<!------ Include the above in your HEAD tag ---------->
<div layout:fragment="content">
<style>

.BoardRow{
	width: 1200px;
	margin:0 auto;	
}

.addBoardForm {
	width: 1200px;
	margin:0 auto;	
	margin-bottom: 100px;
	margin-top:100px;
}

.single-element-widget{
	margin-bottom: 30px;
}

.clickBtn{
	width: 1200px;
	text-align:center;
}

</style>

 <div class="slider-area">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="BoardRow">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>Notice</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!-- About Details Start -->

	
		</div>
			

